﻿div.ektron-approval-workflow-wrapper
{
    margin-top: 1em;
    margin-left: 1.5em;
    font-family: inherit;
}
 .ektron-approval-workflow-wrapper .ektron-approval-workflow-button
{
    text-align: right;
}
.ektron-workflow-ui-wrapper
{
    margin:2em 0 0 2em;
}
#lblSelType
{
    font-weight:bold;
}
div.ektron-approval-workflow-options
{
    margin-top: 1.5em;
}
