﻿.pageLogo {text-align: left; vertical-align: middle; padding: 1em;}
.pageHeader, .importantMsg {font-weight: bold;}
.msgRequired {font-weight: bold; text-align: right; font-size:x-small; margin-bottom:10px;}

.dataVTable {width: 90%; padding:1em; margin: 2em 2em 0.5em 2em;}
.dataVTable th {font-weight:bold; text-align:right; padding: 1em; width: 30%;}

.dataHTable { text-align:center; padding:1em; margin: 2em 2em 0.5em 2em; }
.dataHTable th {font-weight:bold; text-align:left; padding:.3em 2em .3em 1em;  border: 1px solid black !important; }
.dataHTable caption {color:#A11A08; text-align:left; margin-left: 3.5em; display: none;}
.dataHTable td {padding:.3em 2em .3em 1em; border: 1px solid black !important;}
td.colNarrow { border-width: 0 1px 0 0 !important; padding-right: .8em !important; background-color:white !important;}
td.colWide { width: 250px; text-align:left;}
td.middleVAlign { vertical-align:middle !important; }

.uxDXHMapping, .uxConfirmDeleteDXHMap {width:99%; height:99%;}

.optionDesc {padding-left:2em;}

div#pnlButtonArea { padding-top: 2em !important; }
span.buttonRight {text-align:right; float: right;}
.buttonNext {margin-right:20px;}
.buttonLeft {text-align:left;}
.btnDelMap {margin-left: 1em;}
.dlgButton { padding-bottom: 2em;}

.addOptionalRow {margin: .3em 5em 0; cursor: pointer;}
div.instructionMsg { padding-top:.5em; margin: 1em 0 1.5em; }

span.warning {  margin-left:1em !important;}
.success {color: Green !important;}

/* infield label */
.relative {position: relative; display: inline-block;}
.preInfieldLabel {display: none;}
.inFieldLabel {display: inline; position:absolute !important; top: .25em; left: .25em; cursor: text; color: #888; margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
.labelAlign {padding: .3em 1em 1em 1em !important;}