/*.ContributionForm {background-color:#F7F7F7; border: 1px solid #D8DFEA; width: 100%; padding: .5em 0em;}*/
.ContributionForm {width: 100%; padding: .5em 0em;}
.ContributionForm a {text-decoration:none;}
.ContributionForm a:hover {text-decoration:underline;}

/* In accordance with Creative Commons Licsense v2.5 (http://creativecommons.org/licenses/by/2.5/), */
/* the following images are attributed to Mark James, developer of Silk Icons v1.3 (http://www.famfamfam.com/lab/icons/community/) */
/* comments.gif, comment_add.gif, comment_approve.gif, comment_delete.gif, hourglass.gif,   */

.ContributionForm h4 {font-size:1em; color: #486AC5; text-transform:uppercase; margin: .5em 1em .25em 1em; padding: 0em 0em 0em 21px ; background-image: url('../images/application/community/comments.gif'); background-repeat: no-repeat; background-position:0px 0px;}
.ContributionForm h4 a {font-weight:normal;text-transform:capitalize;}

.ContributionForm ul {list-style-type: none; margin: 0em; padding: 0em 1em;}
.ContributionForm ul li.ekMessagePost  {clear: both; display: block; margin: 0em 0em .75em 0em; border: solid 1px #ccc; background: #eee; padding: .25em; min-height: 48px; height:auto !important; height: 48px;} /* extra height declarations for IE */
.ContributionForm ul li.ekPending, .ContributionForm ul li.ekApprove {border: dotted 2px #393;}

/*CheckBox*/
.ContributionForm ul li.ekMessagePost div.chkApproveMessagePost{float:left;margin-top:1em;}
.ContributionForm div.ekMessageBoardSelectOptions{padding-left:1em;font-size: .90em;padding-bottom:.5em;}
.ContributionForm div.ekMessageBoardSelectAllLink{padding-left:5em;color:#529214 ; font-size: .90em;padding-bottom:.5em;}
.ContributionForm div.ekMessageBoardApproveBtn{display:block;margin-left: auto;margin-right: auto; margin-bottom: .5em;text-align:center;}

/*Avatar*/
.ContributionForm ul li.ekMessagePost div.avatar {width: 48px; text-align: center; float: left;}
.ContributionForm ul li.ekMessagePost div.avatar img.avatar {width: 48px; height: 48px; border:none;}
.ContributionForm ul li.ekMsgBoardReplies div.avatar {width: 40px; text-align: center; float: left;}
.ContributionForm ul li.ekMsgBoardReplies div.avatar img.avatar {width: 40px; height: 40px; border:none;}

.ContributionForm ul li div.message {margin: 0em .25em 0em 52px;}
.ContributionForm ul li div.message div.metaData {margin: 0em; border-bottom: solid 1px #ccc; text-align: right;}
.ContributionForm ul li div.message div.metaData span.username {display: block; float: left; white-space: nowrap; font-size: .85em; font-weight: bold; color: #666696;}
.ContributionForm ul li div.message div.metaData span.time {white-space: nowrap; font-size: .75em; color: #666696;}


.ContributionForm ul li div.message p.body {margin: .25em 0em; overflow: auto;}

.ContributionForm ul li div.message p.body .EkForceWrap{word-break: break-all; -moz-binding: url('xml/moz_wordwrap.xml#wordwrap');}
.ContributionForm ul li div.message p.body a.EkForceWrap:active, .ContributionForm ul li div.message p.body a.EkForceWrap:focus{outline: none;} /* fixes scrollbars appearing when focus and active status is brought to link in mozilla */

.ContributionForm ul li.ekMessagePost div.message ul.commands {margin: 0em; padding: 0em; list-style-type: none; text-align: right; height: 16px;}
.ContributionForm ul li.ekMessagePost div.message ul.commands li {display: inline; margin-right: .5em;}
.ContributionForm ul li.ekMessagePost div.message ul.commands li a, .ContributionForm ul li div.message ul.commands li span {display: block; float: right; overflow: hidden; width: 16px; height: 16px; background-repeat: no-repeat; text-decoration: none; text-indent: 1000px;} 
.ContributionForm ul li.ekMessagePost div.message ul.commands li.ekApproveMessage a {background-image: url('../images/application/community/comment_approve.gif');}
.ContributionForm ul li.ekMessagePost div.message ul.commands li.ekDeleteMessage a {background-image: url('../images/application/community/comment_delete.gif');}
.ContributionForm ul li.ekMessagePost div.message ul.commands li.ekReplyMessage a {background-image: url('../images/UI/Icons/commentReply.png');margin-top:.15em;}
.ContributionForm ul li.ekMessagePost div.message ul.commands li span {background-image: url('../images/application/community/hourglass.gif'); border: 0px;}

.ContributionForm div.AddComment {margin: 0em; padding: 0em;}
.ContributionForm div.AddComment h4 {background-image:url('../images/application/community/comment_add.gif'); margin: 2em 1em .25em 1em; background-repeat: no-repeat; background-position:0px 0px; min-height: 16px; height:auto !important; height: 16px;} /* extra height declarations for IE */
.ContributionForm div.AddComment p {margin: 0em; padding: 0em 1em; text-align:center;}
.ContributionForm div.AddComment p textarea.ContributionText {width: 90%;  height:5em;  overflow-y:scroll; font-size: 1em; border: solid 1px #ccc; background: #fff; margin: auto;}
.ContributionForm div.AddComment h6 {margin: 0em 1.5em; font-size: .87em; color: #486AC5; font-weight: normal;} 
.ContributionForm div.AddComment input {display:block;margin-left: auto;margin-right: auto; margin-bottom: .5em;}
    
div.ekCommentError {color: red; font-size: 1em;}
div.ekReplySuccess {color:#529214 ; font-size: 1em;font-weight:bold;background-color:#E6EFC2;}  

/*Reply*/

.ContributionForm ul li.ekMsgBoardReplies div.message p.body {margin: .25em 0em; overflow: auto; font-size:smaller;}

.ContributionForm ul li.ekMsgBoardReplies div.message p.body .EkForceWrap{word-break: break-all; -moz-binding: url('xml/moz_wordwrap.xml#wordwrap');}
.ContributionForm ul li.ekMsgBoardReplies div.message p.body a.EkForceWrap:active, .ContributionForm ul li div.message p.body a.EkForceWrap:focus{outline: none;} /* fixes scrollbars appearing when focus and active status is brought to link in mozilla */

.ContributionForm ul li.ekMsgBoardReplies  div.message div.metaData span.username {display: block; float: left; white-space: nowrap; font-size: .65em; font-weight: bold; color: #666696;}
.ContributionForm ul li.ekMsgBoardReplies  div.message div.metaData span.time {white-space: nowrap; font-size: .65em; color: #666696;}

.ContributionForm ul li.ekMsgBoardReplies div.message ul.commands {margin: 0em; padding: 0em; list-style-type: none; text-align: right; height: 16px;}
.ContributionForm ul li.ekMsgBoardReplies div.message ul.commands li {display: inline; margin-right: .5em;}
.ContributionForm ul li.ekMsgBoardReplies div.message ul.commands li a, .ContributionForm ul li div.message ul.commands li span {display: block; float: right; overflow: hidden; width: 16px; height: 16px; background-repeat: no-repeat; text-decoration: none; text-indent: 1000px;} 
.ContributionForm ul li.ekMsgBoardReplies div.message ul.commands li.ekApproveMessage a {background-image: url('../images/application/community/comment_approve.gif');}
.ContributionForm ul li.ekMsgBoardReplies div.message ul.commands li.ekDeleteMessage a {background-image: url('../images/application/community/comment_delete.gif');}
.ContributionForm ul li.ekMsgBoardReplies div.message ul.commands li.ekReplyMessage a {text-decoration:inherit;width:auto;height:auto;text-indent: 0px; }
.ContributionForm ul li.ekMsgBoardReplies div.message ul.commands li span {background-image: url('../images/application/community/hourglass.gif'); border: 0px;}
.ContributionForm ul li.ekMessagePost div.message a.ekMsgBoardOpenReplies{background:url('../images/UI/Icons/arrowHeadRight.png');background-repeat:no-repeat;padding-left:15.5px;font-size:.85em;}
.ContributionForm ul li.ekMessagePost div.message a.ekMsgBoardCloseReplies{background:url('../images/UI/Icons/arrowHeadDown.png');background-repeat:no-repeat;padding-left:15.5px;font-size:.85em;}
.ContributionForm ul li.ekMessagePost div.message a.ekMsgBoardOpenPendingReplies{background:url('../images/UI/Icons/arrowHeadRight.png');background-repeat:no-repeat;padding-left:15.5px;font-size:.85em;border: dotted 2px #393;}

/*Reply Modal*/
.ektronMessageBoardModal {font-size: 12px;}
.ektronMessageBoardModal .ektronModalBody p.ekMsgBoardReplyTextAreaWrapper {margin: 0; padding: 0;}
.ektronMessageBoardModal .ektronModalBody p.ekMsgBoardReplyTextAreaWrapper textarea {display: block; width: 99%; border: solid 1px #ccc; overflow: auto; font-size: 1em; font-family: Arial, sans-serif;}
.ektronMessageBoardModal .ektronModalBody .ekMessageBoardCaption {display: block; font-size: .9em; color:#486AC5; text-align: right;}
.ektronMessageBoardModal .ektronModalBody .ektronModalButtonWrapper {margin-top: .75em;}
.ekMsgBoardReplyPanelButton{margin: 0;}
.ektronMessageBoardModal .ektronModalBody .ekMsgBoardReplyPanelComment{margin: 0;}
.ektronMessageBoardModal .ektronModalBody h4 {font-size: 1em; color:#486AC5; margin: 0 0 .25em; padding: 0;}
.ektronMessageBoardModal .ektronModalBody .ekMessageBoardReplyButton {background-image:url("../images//UI/Icons/commentReply.png"); padding-left: 1.5em !important;}
.ektronMessageBoardModal .ektronModalBody blockquote 
{
	font-style:italic; 
	margin: .5em 0 1em;
	padding: 0;
	font-size: 1.2em;
}
.ektronMessageBoardModal .ektronModalBody blockquote span.bqStart, .ektronMessageBoardModal .ektronModalBody blockquote span.bqEnd 
{
	float: left;
    height: 45px;
    margin: -25px 6px -9px -10px; 
    *margin: -25px -10px -50px -10px;
    font-size: 600%;
	font-family: Times New Roman, Serif; 
	color: #E1E7F2; 
}
.ektronMessageBoardModal .ektronModalBody blockquote span.bqEnd 
{
	float: right;
    height: 25px;
    margin: -35px 0 0 -10px;
    *margin: -35px -15px 0 -10px;
}

.ektronMessageBoardModal .messages {display: none; width: auto; margin-bottom: .5em;}
.ektronMessageBoardModal .messages span {display: block; margin: .25em; padding: .5em .5em .5em 2em;}
.ektronMessageBoardModal .messages span.wordbreak {display: inline; text-indent: -10000px; margin: 0; padding: 0; width: 0; overflow: hidden; font-size: 1px;}
.ektronMessageBoardModal .error {background-color:#FBE3E4; border: 1px solid #FBC2C4; color:#D12F19; background-position: -475px -571px;}

/* Tab navigation */

.EkMessageBoardTabs ul 
{
     border-collapse: collapse;
     padding: 0;
     white-space: nowrap;
     list-style: none;
     margin: 1px;
     height: auto;
     line-height: normal;
     
}

.EkMessageBoardTabs li { display: inline; }

.EkMessageBoardTabs li a 
{
      background-color: #C6C0C7;
      border-color: #D8DFEA;
      border-width: 1px;
      border-style: solid solid none solid;
      height: auto;
      margin-right: 0.5em;
      padding: 0 1em;
      text-decoration: none;
}

.EkMessageBoardTabs li.active a 
{
     background-color: #F7F7F7;
     border: 1px solid #bbb;
     border-bottom: #D8DFEA 1px solid;
}

.EkMessageBoardTabs li a:hover 
{
	 background-color: #eee;
	 border-color: #ccc;
	 border-bottom-color: #eee;
} 



/* Paging */
div.ekMessagePaging {margin: 0em; width:100%; position: relative; overflow: hidden; height: 20px;}
div.ekMessagePaging h4 {margin: 0em 0em 0em .25em; font-size: 1em; margin-top: .25em; text-align: left;}
div.ekMessagePaging div.ekPageControl {position: absolute; top: -.25em; right: 0em; text-align: right; width: 80px;}
div.ekMessagePaging div.ekPageControl span {display: block; width: 20px; height: 20px; overflow: hidden; background-repeat: no-repeat; float: left;}
div.ekMessagePaging div.ekPageControl span a {background-image: none;}

div.ekMessagePaging div.ekPageControl span.but_first_disable {text-indent: 100px; background-image:url('../images/application/but_first_d.gif'); background-position: -9px 0px;}
div.ekMessagePaging div.ekPageControl span.but_first{background-image:url('../images/application/but_first.gif'); background-position: -9px 0px;}
div.ekMessagePaging div.ekPageControl span.but_first a{display: block; text-indent: 100px; height: 20px;}

div.ekMessagePaging div.ekPageControl span.but_previous_disable{text-indent: 100px; background-image:url('../images/application/but_prev_d.gif'); background-position: -6px 0px; }
div.ekMessagePaging div.ekPageControl span.but_previous{background-image:url('../images/application/but_prev.gif'); background-position: -6px 0px;}
div.ekMessagePaging div.ekPageControl span.but_previous a{display: block; text-indent: 100px; height: 20px;}

div.ekMessagePaging div.ekPageControl span.but_next_disable {text-indent: 100px; background-image:url('../images/application/but_next_d.gif'); background-position: 0px 0px;}
div.ekMessagePaging div.ekPageControl span.but_next{background-image:url('../images/application/but_next.gif'); background-position: 0px 0px;}
div.ekMessagePaging div.ekPageControl span.but_next a{display: block; text-indent: 100px; height: 20px;}

div.ekMessagePaging div.ekPageControl span.but_last_disable {text-indent: 100px; background-image:url('../images/application/but_last_d.gif'); background-position: 0px 0px;}
div.ekMessagePaging div.ekPageControl span.but_last{background-image:url('../images/application/but_last.gif'); background-position: 0px 0px;}
div.ekMessagePaging div.ekPageControl span.but_last a{display: block; text-indent: 100px; height: 20px;}

/* more link CSS */
span.ekMore span.ekMoreLink, span.ekMore span.ekLessLink {color: blue; cursor: pointer; display: inline-block; margin: 0em .25em;}
span.ekMore span.ekHid {word-break: break-all; -moz-binding: url('xml/moz_wordwrap.xml#wordwrap');}
span.ekMore span.ekHid, span.ekMoreLinkOff {display: none;}
span.ekMore span.ekNotHid {display: inline;}
span.ekMore span.ekMoreArrow {display: inline-block; margin-left: .25em;}
span.ekMore span.ekLessArrow {display: inline-block; margin-right: .25em;}