﻿/* Default Menu Tree (Horizontal) START */

/* Change Default Menu Tree (Horizontal) Widths, Left Positioning and z-index Values Here START */

.ektron-ui-tree.ektron-ui-menuTree .ektron-ui-tree-menu
{
    position: relative;
    width: 200px;
}

.ektron-ui-tree.ektron-ui-menuTree li ul, .ektron-ui-tree.ektron-ui-menuTree ul li ul li ul
{
    width: 200px;
    left: 200px;
    top: 0;
    position: absolute;
    z-index: 3000;
}

/* Change Default Menu Tree (Horizontal) Widths, Left Positioning and z-index Values Here END */

.ektron-ui-tree.ektron-ui-menuTree ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
}

.ektron-ui-tree.ektron-ui-menuTree ul li
{
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
}

.ektron-ui-tree.ektron-ui-menuTree li.ektron-ui-tree-branch > ul
{
    display: none;
}

.ektron-ui-tree.ektron-ui-menuTree li.ektron-ui-tree-branch:hover > ul
{
    display: block;
}

.ektron-ui-tree.ektron-ui-menuTree .ektron-ui-tree-menu > div.hitLocation
{
    background-image: none;
    margin: 0;
    padding: 0;
    display: block;
}

.ektron-ui-tree.ektron-ui-menuTree li:hover > .hitLocation > .selectionLocation
{
    opacity: .7;
}

.ektron-ui-tree.ektron-ui-menuTree ul li .selectionLocation
{
    padding: 0.4em 1em;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.ektron-ui-tree.ektron-ui-menuTree ul > li:first-child > .hitLocation > .selectionLocation
{
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.ektron-ui-tree.ektron-ui-menuTree ul > li:last-child > .hitLocation > .selectionLocation
{
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.ektron-ui-tree.ektron-ui-menuTree .selectionLocation:hover .textWrapper
{
    color: inherit;
}

.ektron-ui-tree.ektron-ui-menuTree ul li ul
{
    z-index: 3000;
    left: 0;
    top: 37px;
}

.ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-declarativedatabranch.collapsible > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.expandable > .hitLocation > div > span.ui-icon
{
    background-position: -32px -16px;
    right: 0.3em;
    margin-top: -8px;
    position: absolute;
    top: 47%;
    display: block;
    height: 16px;
    width: 16px;
}

.ektron-ui-tree.ektron-ui-menuTree ul.ektron-ui-tree-root > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.expandable > .hitLocation > div > span.ui-icon
{
    display: none;
}

.ektron-ui-tree.ektron-ui-menuTree ul.ektron-ui-tree-root > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.expandable > .hitLocation > div
{
    zoom: 1;
}

/* Submenus START */

.ektron-ui-tree.ektron-ui-menuTree ul > li > ul > li:first-child > .hitLocation > .selectionLocation
{
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.ektron-ui-tree.ektron-ui-menuTree ul > li > ul > li:last-child > .hitLocation > .selectionLocation
{
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.ektron-ui-tree.ektron-ui-menuTree > ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-declarativedatabranch.collapsible > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-menu.collapsible > .hitLocation > div > span.ui-icon
{
    display: none;
}

.ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-menu > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-leaf.ektron-ui-tree-menu > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-leaf.ektron-ui-tree-menu.ektron-ui-tree-type-content > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu > .hitLocation > div > span.ui-icon
{
    display: none;
}

.ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-menu > .hitLocation > div, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-leaf.ektron-ui-tree-menu > .hitLocation > div, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-leaf.ektron-ui-tree-menu.ektron-ui-tree-type-content > .hitLocation > div, .ektron-ui-tree.ektron-ui-menuTree ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu > .hitLocation > div
{
    zoom: 1;
}

/* Submenus END */

/* Default Menu Tree (Horizontal) END */

/* Vertical Menu Tree START */

/* Change Vertical Menu Widths, Left Positioning and z-index Values Here START */
.ektron-ui-tree.ektron-ui-menuTree.vertical .ektron-ui-tree-menu
{
    position: relative;
    width: 180px;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical li ul
{
    display: block;
    left: 180px;
    position: absolute;
    top: 0;
    width: 180px;
    z-index: 3000;
}
/* Change Vertical Menu Widths, Left Positioning and z-index Values Here END */


.ektron-ui-tree.ektron-ui-menuTree.vertical ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical ul li
{
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical li.ektron-ui-tree-branch > ul
{
    display: none;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical li.ektron-ui-tree-branch:hover > ul
{
    display: block;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical .ektron-ui-tree-menu > div.hitLocation
{
    background-image: none;
    margin: 0;
    padding: 0;
    display: block;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical li > .hitLocation > .selectionLocation
{
    padding: 0.4em 1em;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical li:hover > .hitLocation > .selectionLocation
{
    opacity: .7;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical li:first-child > .hitLocation > .selectionLocation
{
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical li:last-child > .hitLocation > .selectionLocation
{
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical .textWrapper, .ektron-ui-tree.ektron-ui-menuTree.vertical .clickable, .ektron-ui-tree.ektron-ui-menuTree.vertical .selectionLocation:hover .textWrapper
{
    color: inherit;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical .textWrapper:hover, .ektron-ui-tree.ektron-ui-menuTree.vertical .clickable:hover
{
    color: inherit;
    cursor: inherit;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-declarativedatabranch.collapsible > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree.vertical ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-menu.collapsible > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree.vertical ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.collapsible > .hitLocation > div > span.ui-icon, .ektron-ui-tree.ektron-ui-menuTree.vertical ul > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.expandable > .hitLocation > div > span.ui-icon
{
    background-position: -32px -16px;
    right: 0.3em;
    margin-top: -8px;
    position: absolute;
    top: 47%;
    display: block;
    height: 16px;
    width: 16px;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical ul.ektron-ui-tree-root > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.expandable > .hitLocation > div > span.ui-icon
{
    display: block;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical ul.ektron-ui-tree-root > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.expandable > .hitLocation > div
{
    zoom: 1;
}

.ektron-ui-tree.ektron-ui-menuTree.vertical ul.ektron-ui-tree-root > li.ektron-ui-tree-branch.ektron-ui-tree-menu.ektron-ui-tree-type-submenu.loading > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/rotatingArrowsWhite.png) no-repeat center center;
}
/* Vertical Menu Tree END */

