div.EktronPersonalization div.tabWrapper div.innerWrapper ul.tabs li a.remove {top:7px;}
div.EktronPersonalization div.widget > div.content {overflow:auto;overflow-x:auto;overflow-y:hidden;padding-bottom:25px;}
.ektronGrid a.commerceperiodlink {display: block;}
div.EktronPersonalization div.tabWrapper div.innerWrapper ul.tabs li.tab a.label {display:block;}