﻿.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ektron-ui-timepicker {display: inline-block; position: relative}
.ektron-ui-timepicker label {display: none}
.ektron-ui-timepicker label.inFieldLabel {
    border: 0 none;
    color: #888888;
    cursor: text;
    display: inline;
    font: inherit;
    left: 0.25em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: baseline;
}
