@font-face {
	font-family: 'icomoon';
	src:url('../../../fonts/icomoon.eot');
	src:url('../../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../../fonts/icomoon.svg#icomoon') format('svg'),
		url('../../../fonts/icomoon.woff') format('woff'),
		url('../../../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
.applicationIcon[data-ektron-path]:before, .applicationIcon[data-ektron-path]:after {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*[data-ektron-path^="icon-"]:before, [data-ektron-path*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}*/
.applicationIcon[data-ektron-path]:before, .applicationIcon[data-ektron-path]:after {
	content: "\e003";
}
.applicationIcon[data-ektron-path='applications/site/app']:before, .applicationIcon[data-ektron-path='applications/site/app']:after {
	content: "\e000";
}
.applicationIcon[data-ektron-path='applications/analytics/app']:before, .applicationIcon[data-ektron-path='applications/analytics/app']:after  {
	content: "\e001";
}
.applicationIcon[data-ektron-path='applications/dashboard/app']:before, .applicationIcon[data-ektron-path='applications/dashboard/app']:after {
	content: "\e002";
}
.icon-work-area:before {
	content: "\e003";
}
.icon-domain:before {
	content: "\e004";
}
.icon-discussion:before {
	content: "\e005";
}
.icon-community:before {
	content: "\e006";
}
.icon-catalog:before {
	content: "\e007";
}
.icon-calendar:before {
	content: "\e008";
}
.icon-blog:before {
	content: "\e009";
}
.icon-archive:before {
	content: "\e00a";
}
.icon-cog:before {
	content: "\e00b";
}