﻿.ektronPageContainer {
    padding: 5px;
}

#left, #right {
    height: 150px;
}

#left { /*float:left; width: 75%;*/
}

#right { /* float:right;*/
    width: 330px;
}

.breakpointTbl {
    width: 100%;
}

.breakpoints {
    padding: 1em 0;
}

.alignRight {
    float: right;
}

.selected {
    background-color: #F4F4F4 !important;
}

div.buttonRight {
    text-align: right;
    float: right;
    margin: 0 0.8em;
}

td.textAlighRight {
    text-align: right;
    line-height: 3em;
}

.smallertext {
    font-size: 0.8em;
    line-height: 3em;
}

span#BreakpointRange {
    position: absolute;
}

img.bkgd {
    background-color: black;
    padding: 0;
    margin: 0;
}

img.alighMiddle {
    vertical-align: middle;
}

.offSetLeft {
    margin: 11px;
}
/*message*/
label.uxValidationMessage {
    position: absolute;
}
/*fields*/
span.txtGroupName input {
    width: 100px;
}

span.shortFields input {
    width: 40px;
}

span.ektron-ui-invalid input {
    border-color: #FBC2C4;
    background-color: #FBE3E4;
}
/*toolbar*/
div.ektronToolbar li {
    display: inline-block;
}

div.ektronToolbar ul.toolbar {
    margin: 0;
}
/*carousel*/
ul.phonepreview-carousel {
    height: 170px;
    min-width: 200px;
}

li.jcarousel-item label, li.jcarousel-item span {
    font-size: .8em;
    line-height: .8em;
}

tr.selected li.jcarousel-item-placeholder {
    background-color: transparent;
}

.phonepreview-carousel input {
    margin: 0 3px;
    cursor: pointer;
}

div.jcarousel-skin-tango div.jcarousel-clip-horizontal {
    height: 175px;
}

div.jcarousel-skin-tango div.jcarousel-container {
    background-color: transparent;
    border: none;
}

div.jcarousel-skin-tango div.jcarousel-prev-horizontal, div.jcarousel-skin-tango div.jcarousel-next-horizontal {
    top: 80px;
}

div.jcarousel-clip ul.phonepreview-carousel li label.deviceModelLabel {
    line-height: 1.2em;
}
/*device preview images*/
.enablePreviewImage {
    height: 130px;
    width: 200px;
}

label.enablePreviewImage {
    display: block;
}
