﻿.ektron-ui-tree.ektron-ui-selectionMenuTree.showControls .selected > .hitLocation > .selectionLocation > .textWrapper
{
    background:none;
    border:1px solid transparent;
    }
    
.ektron-ui-tree.ektron-ui-selectionMenuTree.showControls .textWrapper:hover, 
.ektron-ui-tree.ektron-ui-selectionMenuTree.showControls .clickable:hover
{
    color: #000000;
}

.ektron-ui-tree-selectionMenu.ektron-ui-tree-branch span.ui-icon,
.ektron-ui-tree li.ektron-ui-tree-selectionMenu.ektron-ui-tree-leaf span.ui-icon
{
    background-image: url(../../../../../images/icons/menu.png);
}