﻿.ektron-aloha-button.ektron-aloha-inboundwriter-button {background: url("../../../../../../../../../../images/sprites/sprite-aloha-icons.png") 0px 16px}

.ektron-aloha-inboundwriter-modal {width: 1000px; display: none;}
.ui-dialog .ektron-aloha-inboundwriter-modal {display: block; }
.ektron-aloha-inboundwriter-modal-iframe {display: none;}
.ui-dialog .ektron-aloha-inboundwriter-modal-iframe {width:100%; border: solid 1px #D4D4D4; margin: auto; display: block;}
#iwContentLab
{
    height:380px;
}
