﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Progressbar.ascx.cs" Inherits="Ektron.Cms.Framework.UI.Controls.EktronUI.Templates.Progressbar" %>
<div id="<%# this.Parent.ClientID %>" class="<%# this.CssClass %>">
    <div></div>
</div>