﻿.aloha-image-properties-selectlibraryurl, .ektron-aloha-basic-link-selectlibraryurl, .ektron-aloha-advanced-link-selectlibraryurl {background: url("../../../../../../../../../../images/silk/icons/book.png") no-repeat scroll 2px 2px #cecece !important; background-color:#cecece; border:1px solid #d3d3d3; width: 23px !important; height: 23px; margin: 1px 0px 5px 5px !important;}
.ektron-aloha-basic-link-removelibraryurl, .ektron-aloha-advanced-link-removelibraryurl, .ektron-aloha-basic-link-removebookmark, .ektron-aloha-advanced-link-removebookmark {background: url("../../../../../../../../../../images/silk/icons/link_break.png") no-repeat scroll 2px 2px #cecece !important; background-color:#cecece; border:1px solid #d3d3d3; width: 23px !important; height: 23px; margin: 1px 0px 5px 5px !important;}
div.ektron-aloha-basic-link-bookmarkselecturl input#ektron-aloha-basiclink-bookmark-otherbasiclinkid {width: 140px;}
div.ektron-aloha-advanced-link-bookmarkselecturl input#ektron-aloha-advancedlink-bookmark-otheradvancedlinkid {width: 140px;}
.ektron-aloha-advinspector-modal div.ektron-aloha-basic-link-linktype > input[type='button'] {margin: 0 1px;}
input.active { border-color: rgb(32,88,164); margin: 2px;}