﻿@charset "UTF-8";
/* Responsive Images Carousel
----------------------------------*/
.aloha-responsive-image .aloha-responsive-image-breakpoints {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 300px;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li label {
    display: block;
    text-align: center;
    margin: 1em;
    padding: 1em;
    width: 120px;
    overflow: hidden;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background-color: rgba(255,255,255,0);
    -moz-transition: background-color linear .1s;
    -o-transition: background-color linear .1s;
    -webkit-transition: background-color linear .1s;
    transition: background-color linear .1s;
	border: solid 5px white;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li label:hover {
    cursor: pointer;
	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
	border: solid 5px gold;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li input[type="radio"] {
    display: none;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li label:active,
.aloha-responsive-image .aloha-responsive-image-breakpoints li input:checked + label {
    opacity: 1;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
	border: 5px solid #80b5f2;
    position: relative;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li label:active:before,
.aloha-responsive-image .aloha-responsive-image-breakpoints li input:checked + label:before {
    content: "";
    opacity: 1;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li label span {
    position: relative; /* forces the spans to display above the absolutely positioned label:before*/
}


.aloha-responsive-image .aloha-responsive-image-breakpoints li label span.thumb {
    display: block;
    width: 95px;
    height: 120px;
    margin: 0 auto .8em;
    padding: 0;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
}

.aloha-responsive-image .aloha-responsive-image-breakpoints li span.name, .aloha-responsive-image .aloha-responsive-image-breakpoints li span.width {
    font-size: 1.2em;
    display: block;
    margin: 0;
    padding: 0;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.6em;
    white-space: nowrap;
    color: #000;
}

/* jCarousel CSS
------------------------------*/
.aloha-responsive-image {
    height: 400px;
}

.aloha-responsive-image .aloha-responsive-image-div {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    margin: 0;
    padding: 0;
}

.aloha-responsive-image .jcarousel-container {

}

.aloha-responsive-image .jcarousel-direction-rtl {
	direction: rtl;
}

.aloha-responsive-image .jcarousel-container-horizontal {
    padding: 0;
    margin: 0 2em;
}

.aloha-responsive-image .jcarousel-clip {
    overflow: hidden;
}

.aloha-responsive-image .jcarousel-clip-horizontal {
    width:  auto;
    height: auto;
}

/* Horizontal Buttons
----------------------------------*/
.aloha-responsive-image .jcarousel-next-horizontal, .aloha-responsive-image .jcarousel-prev-horizontal {
    position: absolute;
    height: 100%;
    cursor: pointer;
    top: 0;
}

.aloha-responsive-image .jcarousel-next-horizontal {
    right: 0em;
}

.aloha-responsive-image div.aloha-responsive-image-div .jcarousel-next-horizontal:after {
    position: absolute;
    height: 100%;
    width: 32px;
    top: 0;
    right: .5em;
    display: block;
    content: "";
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
    background-position: center center;
    opacity: .55;
    -webkit-transition:opacity .2s ease-out;  
    -moz-transition:opacity .2s ease-out;  
    -o-transition:opacity .2s ease-out;  
    transition:opacity .2s ease-out;
    -moz-transform:rotate(-90deg); 
	-webkit-transform:rotate(-90deg); 
	-o-transform:rotate(-90deg); 
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg);
}

.aloha-responsive-image .jcarousel-prev-horizontal {
    left: 0em;
}

.aloha-responsive-image div.aloha-responsive-image-div div.jcarousel-prev-horizontal:after {
    position: absolute;
    height: 100%;
    width: 32px;
    top: 0;
    left: .5em;
    display: block;
    content: "";
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
    background-position: center center;
    opacity: .55;
    -webkit-transition:opacity .2s ease-out;  
    -moz-transition:opacity .2s ease-out;  
    -o-transition:opacity .2s ease-out;  
    transition:opacity .2s ease-out;
    -moz-transform:rotate(90deg); 
	-webkit-transform:rotate(90deg); 
	-o-transform:rotate(90deg); 
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}

.aloha-responsive-image .jcarousel-prev-horizontal:hover:after, .aloha-responsive-image .jcarousel-next-horizontal:hover:after {
    opacity: 1;
}

.aloha-responsive-image .jcarousel-next-disabled-vertical,
.aloha-responsive-image .jcarousel-next-disabled-vertical:hover,
.aloha-responsive-image .jcarousel-next-disabled-vertical:focus,
.aloha-responsive-image .jcarousel-next-disabled-vertical:active
.aloha-responsive-image .jcarousel-prev-disabled-vertical,
.aloha-responsive-image .jcarousel-prev-disabled-vertical:hover,
.aloha-responsive-image .jcarousel-prev-disabled-vertical:focus,
.aloha-responsive-image .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    opacity: .55;
}
