﻿[contenteditable="true"] .fancy {
    /**/-moz-user-select:none;-webkit-user-select:none;
	user-select:none; /* without this line, element can be dragged within itself! No-no! */
	/**/-moz-user-drag:element;-webkit-user-drag:element;
    user-drag:element; /* makes the whole fancy box draggable */
	cursor:move !important; } /* switches to the move cursor */
	[contenteditable="true"] .fancy * {
        /**/-moz-user-drag:none;-webkit-user-drag:none;
		user-drag:none; } /* hopefully disables the internal default dragging of the img */

/*.fancy {
        display:inline-block; margin:10px;
        color:#444; text-align:center; font-style:italic;
        font-size:10px; font-family:sans-serif;
        background:#fff; border:8px solid white;
        box-shadow:1px 2px 8px #444;
        cursor:pointer; }
        .fancy img {
            display:block; margin-bottom:2px;
            border:1px solid white;
            box-shadow:0 1px 6px #888; }
        .fancy .caption { max-width:100px; }*/