<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DataEntryEdit.aspx.cs" Inherits="ContentDesigner_configurations_DataEntryEdit" %>

<root>
	<tools name="Edit" enabled="true" dockable="false">
		<tool name="EkValidateData" />
	</tools>
</root>


