﻿.ektronRuleEditor
{
	margin-top: 10px;
}

.ektronRuleEditor .ui-widget-header
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.ektronRuleEditor ul 
{
	padding: 0; 
	margin: 4px 0;
}

.ektronRuleEditor li 
{
	padding: 0; 
	margin: 0; 
	margin-bottom: 10px;
	list-style-type: none; 
}

ul.ektron.addRuleList 
{ 
	padding: 0.5em 0 0.5em 0; 
	margin: 0; 
	list-style-type: none; 
	z-index: 999; 
	display: block;
}
ul.ektron.addRuleList li 
{ 
	padding: 0 1em 0 1em; 
	font-family: Lucida Sans, Arial, sans-serif;
}
ul.ektron.addRuleList li.addButtonItem 
{
	border: none;
}
ul.ektron.addRuleList > li.addRuleSubmenu 
{
	background-image: url(Arrow.gif);
	background-repeat: no-repeat;
	background-position: right;
}
ul.ektron.addRuleList > li.addRuleSubmenu > ul
{
	display: none;
}
ul.ektron.addRuleList > li:hover.addRuleSubmenu 
{
	background-image: none;
	position: relative;
}
ul.ektron.addRuleList > li:hover.addRuleSubmenu > ul
{
	display: block;
	position: absolute;
	left: 10em; top: 0;
	width: 20em;
}

.ektronRuleEditor div.rulesList 
{ 
	padding: 0;
	margin-bottom: 10px;
}

.ektronRuleEditor .field
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin: 0 0.25em 0 0.25em;
}

.ektronRuleEditor .field button
{
    text-decoration: none !important; /* this has no effect in IE 7 */
    margin-left: 3px;
}

.ektronRuleEditor fieldset { padding: 0.5em; }
.ektronRuleEditor fieldset > legend {padding: 0 3px 0 3px; margin: 0;}
.ektronRuleEditor .ui-widget-content { 
    padding: 0.5em; 
    max-height:400px; 
    overflow-y:auto;
}

.ektronRuleEditor .deleteAnd
{
    margin-right: 0.5em;
}

.ektronRuleEditor .toolBar
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.ektronRuleEditor a.ek-button
{
    text-decoration: none !important;
    padding: 2px 6px;
}

.ektronRuleEditor a.ek-button > span.ui-icon
{
	display: inline-block;
	text-indent: 0;
	vertical-align: middle;
}

