﻿div.editArea.editable{
    min-width: 600px;
    width: 100%;
    margin: 5px auto;
    overflow:hidden;
}
    div.editArea.editable [contenteditable="true"] {
        margin: 5px auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 95%;
        height:300px;
        max-height: 600px;
        overflow: auto;
        color:black;
    }

 DIV.editArea.editable p, DIV.editArea.editable li, DIV.editArea.editable div, DIV.editArea.editable span{
	font-size:10.0pt;
	margin:0 0 1.5em;
 }  

DIV.editArea.editable a { text-decoration:underline; color: #0000FF;}

DIV.editArea.editable figure
{
    margin: 0;
    padding:0;
}
DIV.editArea.editable figure img
{
    max-width: 100%;
}
DIV.editArea.editable ol {
	list-style: decimal inside;
}
DIV.editArea.editable ul {
	list-style: disc inside;
}
DIV.editArea.editable li {
	display: list-item;
}