﻿/* ************************* */
/*      OVERRIDES BEGIN      */
/* ************************* */

/* drop bottom border */
body div.EktronPersonalization {border: 0;}

/* eliminate default widget border and margins */
body div.EktronPersonalization div.widget {border: 0; margin: 0; position: relative; top: 0; left: 0;}

/* pad report banner */
div.widget .ektronToolbar {padding: 0.25em; padding-left: 0.5em}

/* Style table header */
div.ektronPageGrid div table tbody
tr.headerstyle th {border:1px solid #BBDDF6; background:#D5E7F4 none repeat scroll 0 0;}

/* Style table column sorting-links  */
div.ektronPageGrid div table tbody tr.headerstyle
a {color:#555555;}

/* Force table border style */
div.ektronPageGrid div table tbody 
td {border:1px solid #BBDDF6; padding:0.25em 0.5em;}

.NameColumn 
{
	padding-left: 0.5em;
}
.NumericColumn
{
	text-align: right !important; 
	padding-right: 0.5em;
}
.TimeColumn
{
	text-align: right !important; 
	padding-right: 0.5em;
}
img.ReportName
{
	margin-right: 0.5em;
}
a.ReportName
{
	margin-right: 0.5em;
}

.AnalyticsDetailLineChart
{
	margin-top: 2px;
	margin-bottom: 1em;
}

.AnalyticsReportBreadcrumb
{
	font-size: small;
	margin-bottom: 1em;
}

.AnalyticsReportTitlebar
{
	font-weight: bolder;
}
.AnalyticsReportTitle 
{
	font-size: large;
}
.AnalyticsReportSubtitle
{
	font-size: medium;
}
.AnalyticsReportSummary 
{
	font-size: medium;
}

/* add padding around the report, and eliminate IE disable scrollbar */
.InnerRegion {padding: 2em; overflow: hidden;}

/* error message */
div.ektronPageGrid div.ErrorMessage {font-weight: bolder; color: Red;}

/* site-selector styling*/
.SiteSelectorContainer {/*margin-left: 2.0em; */ margin-left: 2.5em;}
div.ektronPageGrid .ektronToolbar {color: #fff;}
div.ektronPageGrid .ektronToolbar a {color: #fff; font-weight:bolder;}
body div.EktronPersonalization div.widget div.content {padding: 0;}

div.ektronPageGrid div.InnerRegion .ektronGrid {display: block; border: none;}

/* ************************* */
/*      OVERRIDES END        */
/* ************************* */

body {
    color:#000000;
    font-family:arial,verdana,sans-serif;
    font-size:small;
}    
.alternatingrowstyle{
    background-color:#f9f9f9;
}
.headerstyle{
    background-color:#e5e5e5;
    height:23px;
}
.headerstyle th, th.headerstyle {
    border:1px solid #bbbbbb;
    padding-left:5px;
    padding-right:5px;
    text-align:left;
}  
.headerstyle a {
    color:black;
}    
.sortalternatingrowstyle{
    background-color:#e5e5e5
}
.sortrowstyle{
    background-color:#f0f0f0
}
.sortascheaderstyle{
    background:#c5c5c5 url(sort_asc.gif) no-repeat scroll right center;
    padding-left:5px;
}
.sortdescheaderstyle{
    background:#c5c5c5 url(sort_desc.gif) no-repeat scroll right center;
    padding-left:5px;
}   
.pagerstyle{
    color:#444444;
    background-color:#e5e5e5;
    font-size:x-small;
    text-align:right;
} 
.pagerstyle select{
    font-size:x-small;
}  
.previous{
    background:transparent url(previous.gif) no-repeat scroll center;
    height:1.3em;
    width:16px;
}
.next{
    background:transparent url(next.gif) no-repeat scroll center;
    height:1.3em;
    width:16px;
}  
.gotopage
{
    font-size:x-small;
    width:20px !important;
}
.pieChart
{
	vertical-align:top !important;
}
/************************************/
/*    Analytics List User Control   */
/************************************/
.BA_RatingStars
{
}
.BA_Counts, .BA_Scores
{
}
.BA_Link
{
}
.dataTables_wrapper .AnalyticsVisualizationSelect
{
    padding-bottom: 10px;
}
.dataTables_wrapper .right td {
    text-align: right;
    white-space: nowrap;
}
.dataTables_wrapper td.datavalue {
    border-bottom: 1px solid #EEEEEE;
    line-height: 18px;
    padding: 5px 7px;
    text-align: right !important;
    vertical-align: middle;
}
.dataTables_wrapper .indexHolder {
    display: inline-block;
    float: none;
    height: 14px;
    margin-left: 10px;
    min-width: 70px;
    vertical-align: middle;
    overflow: hidden;
}
.dataTables_wrapper .index {
    background: none repeat scroll 0 0 #555555 !important;
    color: #666666;
    display: block;
    float: left;
    position: static;
    text-align: right;
    z-index: 1;
}