﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DeviceDiagnostics.aspx.cs" Inherits="Workarea_diagnostics_images_DeviceDiagnostics" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            Current Device Settings:<br />
            <asp:Literal ID="ltrUI" runat="server" ></asp:Literal>
            
    </div>
    </form>
</body>
</html>
