﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FooterCCFloat.ascx.cs" Inherits="_Ctrls_FooterCCFloat" %>
<div id="stickyFooterFloatView" class="container-fluid stickyFooterFloat" style="display:none">
    <div class="container ">
        <a href="/Request-Information/"  target="_blank"  style="color: #fff">Online Brochure</a><span style="color: #fff"> |</span>
        <a href="http://zoracle.net/assessment/welcome/concretecraft" target="_blank"  style="color: #fff">Right Fit Assessment</a> <span style="color: #fff">|</span>
        <a href="/faqs/" style="color: #fff">FAQs</a> <span style="color: #fff"></span>
    </div>
</div>
