﻿
.dvFilterBy{
    padding: 0.5em 0 0.5em 15px;
  
}
#dvblogcategories ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#dvblogcategories { 
    display: inline-block;  
}

#dvblogcategories ul li { 
    display: inline;
    border-right: 2px solid black;
}


#dvblogcategories ul li:last-child { 
 
    border: none;
}

#dvblogcategories ul li a
{
text-decoration: none;
padding:  0 0.5em;
}

#dvblogcategories ul li a:hover
{
color: #fff;
background-color: grey;
}

