﻿body {
}

.header {
    border-bottom: 5px solid #808080;
}

.home-float-form {
    position: relative;
}

    .home-float-form .promo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

.cc-product-preview {
    position: relative;
}

    .cc-product-preview img {
        width: 100vw;
    }

.home-float-form .low-promo {
    position: absolute;
    background: #e6e7e8;
    right: 0;
    top: 435px;
    left: 0;
}

.centerblock
{
    text-align:center;
}

[data-ux-pagebuilder="Column"]:not(.ux-siteApp-pageBuilderCssFramework [data-ux-pagebuilder="Column"]).col-md-12 {
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.cc-product-preview img {
    width: 100vw;
}

.ccFooter3 {
    background-color: #e6e7e8;
}

/*Custom Bootstrap*/
.navbar-collapse {
    max-height: 850px;
    overflow-y: hidden;
    /*color: #fff;*/
}

.navbar-default {
    background-color: white;
    /*color: #fff;*/
}

.navbar-collapse.in {
    overflow-y: visible;
    max-height: 850px;
    overflow-y: hidden;
    /*color: #fff;*/
}

/*dropdown menu color*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #e6e7e8;  
    border-top: none;
}

.navbar-default .navbar-nav .dropdown-menu
{
    background-color: #e7e7e7;
}


.input-sm {
    border-radius: 0px;
}



/*.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}*/

.stickyFooter {
    position: fixed;
    padding-bottom: -10px;
    bottom: 0px;
    background-color: #005f85;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.stickyFooterFloat {
    background-color: #005f85;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.menutopitem {
    width: 127px;
    height: 52px;
    text-align: center;
    margin: 0px 5px;
}

.menutopitemlong {
    width: 150px;
    height: 52px;
    text-align: center;
}



/* Large desktops and laptops */
@media (min-width: 1200px) {
    .menurow {
        text-align: left;
        padding-top: 50px;
        font-size: 15px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .menurow {
        text-align: left;
        padding-top: 50px;
        font-size: 15px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .menurow {
        text-align: left;
        padding-top: 10px;
        font-size: 15px;
    }

    .menutopitem {
        width: 127px;
        height: 50px;
        margin: 0px 31px;
        text-align: center;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
 
    /*.home-float-form .promo {
        z-index: -1;
    }*/
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    /*.home-float-form .promo {
        z-index: -1;
    }*/

#consult-form 
{
    font-family: georgia;
    font-size: 15px;
    height: 30px;
    width: 273px;
    background-color: #e6e7e7;
    border-radius: 0px;
  }
}

.desktop-nav-group .menutopitem {
    width: 100px;
    padding: 0 !important;
}

.desktop-nav-group .menutopitemlong {
    width: 100px;
    padding: 0 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .desktop-nav-group .menutopitem {
        width: 75px;
        margin: 0 20px;
    }
    
    .desktop-nav-group .menutopitemlong {
        width: 75px;
        margin: 0 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .desktop-nav-group .menutopitem {
        width: 90px;
    }
    
    .desktop-nav-group .menutopitemlong {
        width: 90px;
    }
}