<%@ Page Language="C#" AutoEventWireup="true" Inherits="blankredirect" CodeFile="blankredirect.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head runat="server">
    <title>blankredirect</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1"/>
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1"/>
    <meta name="vs_defaultClientScript" content="JavaScript"/>
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
  </head>
  <body>
		<table height="100%" width="100%">
			<tr>
				<td align="center">
					<asp:Label ToolTip="One Moment Please...." ID="lblMessage" runat="server" Text="One Moment Please...."></asp:Label>
				</td>
			</tr>
		</table>
	</body>
</html>

