﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="PreviewForm" CodeFile="PreviewForm.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head runat="server">
		<title>Preview Form</title>
	</head>
	<body>
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</html>

