/*!
* Aloha Editor
* Author & Copyright (c) 2010 Gentics Software GmbH
* aloha-sales@gentics.com
* Licensed unter the terms of http://www.aloha-editor.com/license.html
*/

.aloha-link-pointer {
	cursor: pointer;
}

.aloha-link-text {
	cursor: text;
}

.aloha-link-radioTarget {
	width:auto !important;
}

.aloha-link-title-container {
	padding:5px 5px;
	/*min-width: 350px;*/
}

.aloha-link-target-container {
	padding:5px 5px;
	/*min-width: 350px;*/
}

.aloha-link-target-container li{
	padding:0 !important;
}

.aloha-link-target-container fieldset {
	border: 2px groove threedface !important;
	padding-bottom: 5px;
}

.aloha-link-title-container fieldset {
	border: 2px groove threedface !important;
	padding-bottom: 5px;
}

.aloha-link-linkUrl,
.aloha-link-linkTitle,
.aloha-link-linkNewBookmark
{
	width:100% !important;
}

.aloha-link-title-container fieldset  input[type=text]{
	width:100% !important;
}

.aloha-link-target-container fieldset  input[type=text]
{
	width:100% !important;
}

.x-form-field.x-form-text.aloha-link-href-field {
	color: #333 !important;
	padding: 3px;
}

/* Ektron Hyperlink/bookmark plugin*/
.ektron-aloha-button.ektron-aloha-bookmark-button {background: url("../../../../../../../../../../images/silk/icons/InsertAnchor.gif") no-repeat scroll 0 0 transparent !important; width: 23px; height: 23px; margin: 1px 0px 5px 5px;}
.aloha-editable-active a[data-ektron-placeholder=bookmark] {background-image:  url("../../../../../../../../../../images/silk/icons/InsertAnchor.gif") !important; background-position: left center; background-repeat: no-repeat; display:inline-block; height: 24px; min-width: 1px; vertical-align:middle; padding: 0 0 0 24px; }
div#tab-link #bookmark-section {display:none;}
input.aloha-link-name-field {width:9em;}
div.aloha-link-plugin-panel {padding:1px}
label{padding:0 1px 0 0; display:inline;}
.aloha-link-remove-link {background-image:  url("../../../../../../../../../../images/silk/icons/link_break.png"); display: inline-block; width: 16px; height: 16px; vertical-align:middle; }
textarea.aloha-link-existingbookmark-field {width:95%; overflow:auto;}
input.aloha-link-framename {display:none;}