<%@ Page Language="C#" ResponseEncoding="utf-8" AutoEventWireup="true" CodeFile="ekajaxvalidation.aspx.cs" Inherits="ekvalidate" ValidateRequest="false" %>
<html>
<head>
<title>ekajaxvalidation</title>
<meta http-equiv="Content-type" content="text/html; charset='utf-8'" />
</head>
<body><div><asp:Literal id="litContent" runat="server"></asp:Literal></div></body>
</html>

