﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_MasterPages/MasterTL.master" AutoEventWireup="true" CodeFile="BaseTL.aspx.cs" Inherits="_Wireframe_BaseTL" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

