﻿<%@ Page Language="C#"  AutoEventWireup="true" CodeFile="Test_enewsletter.aspx.cs" Inherits="_Wireframe_Test_enewsletter" %>





<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

     <script src="/_Scripts/lib/jquery-2.1.4.js"></script>

    <script src="/_Scripts/lib/jquery-2.1.4.min.js"></script>
    
    <link href="/_Scripts/lib/bootstrap.css" rel="stylesheet" />
    <link href="/_Stylesheets/ccBase.css" rel="stylesheet" />
    <script src="/_Scripts/lib/bootstrap.js"></script>
    <script src="/_Scripts/lib/jquery.maskedinput.min.js"></script>
    <script src="/_Scripts/utils/browserChecker.js"></script>
    <script src="/_Scripts/utils/pageHelper.js"></script>
    
    <script src="/_Scripts/utils/validator.js"></script>
    <script type="text/javascript" src="http://l2.io/ip.js?var=ip"></script>
    <script src="/_Scripts/widgets/eNewsletter.js"></script>
     <script src="/_Scripts/widgets/consultationForm.js"></script>


</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
       <%-- <uc2:_Enewsletter ID="_Enewsletter1" runat="server" />--%>
    </form>
</body>
</html>
