﻿/* Messages
----------------------------------*/
.ektron-ui-control.ektron-ui-message > .ektron-ui-sprite {float: left; margin-top: .1em; background-image: url('../../../images/sprites/interactionCues.png');}
.ektron-ui-control.ektron-ui-message > .ektron-ui-messageBody {padding-left: 1.75em; margin-top: .1em}
.ektron-ui-control.ektron-ui-message.ektron-ui-error {background: #fbe3e4; border: 2px solid #fbc2c4; color: #8a1f11; margin-bottom: 1.5em; padding: 0.5em;}
.ektron-ui-control.ektron-ui-message.ektron-ui-information, 
    .ektron-ui-control.ektron-ui-message.ektron-ui-help, 
    .ektron-ui-control.ektron-ui-message.ektron-ui-working {background: #d5edf8; border: 2px solid #92cae4; color: #205791; margin-bottom: 1.5em; padding: 0.5em;}
.ektron-ui-control.ektron-ui-message.ektron-ui-success {background: #e6efc2; border: 2px solid #c6d880; color: #264409; margin-bottom: 1.5em; padding: 0.5em;}
.ektron-ui-control.ektron-ui-message.ektron-ui-warning {background: #fff6bf; border: 2px solid #ffd324; color: #514721; margin-bottom: 1.5em; padding: 0.5em;}

/* Sprites
----------------------------------*/
/* interaction cues */
.ektron-ui-control.ektron-ui-message .ektron-ui-sprite.ektron-ui-sprite-accept {background-position: 0 0;} 
.ektron-ui-control.ektron-ui-message .ektron-ui-sprite.ektron-ui-sprite-exclamation {background-position: 0 -36px;} 
.ektron-ui-control.ektron-ui-message .ektron-ui-sprite.ektron-ui-sprite-help {background-position: 0 -54px; } 
.ektron-ui-control.ektron-ui-message .ektron-ui-sprite.ektron-ui-sprite-information {background-position: 0 -72px;} 
.ektron-ui-control.ektron-ui-message .ektron-ui-sprite.ektron-ui-sprite-warning {background-position: 0 -18px;} 
.ektron-ui-control.ektron-ui-message .ektron-ui-sprite.ektron-ui-sprite-working {background-position: 0 0; background-image: url('../../../images/rotatingArrows.gif');}

