﻿.ektron-ui-gridview {display:block;margin-bottom:1em;}
.ektron-ui-gridview table {width:100%;height:100%;border-spacing:0;border-collapse:separate !important;}

/* borders */
.ektron-ui-gridview table thead th:first-child {border-radius: 6px 0 0 0;border-right:medium none;}
.ektron-ui-gridview table thead th {border-top:1px solid silver;border-bottom:0 none;}
.ektron-ui-gridview table thead th:last-child {border-radius: 0 6px 0 0;}

.ektron-ui-gridview table thead th,
.ektron-ui-gridview table tbody td {border-left:1px solid silver;border-top:1px solid silver;}
.ektron-ui-gridview table thead th:last-child,
.ektron-ui-gridview table tbody td:last-child {border-right:1px solid silver;}

.ektron-ui-gridview table thead th {padding:3px 10px 3px 10px;}
.ektron-ui-gridview table thead th.ektron-ui-selectable-column {padding: 0;text-align: center;}
.ektron-ui-gridview table thead th.ektron-ui-selectable-column.ektron-ui-column-no-header-text {width:2em;}

.ektron-ui-gridview table thead th.ektron-ui-selectable-column input {position:relative;left:-1px;}
.ektron-ui-gridview table thead th div.sort-wrapper {position:relative;padding-right:20px;}
.ektron-ui-gridview table thead th div.sort-wrapper a {display:block;}
.ektron-ui-gridview table thead th div.sort-wrapper span.ui-icon {position:absolute;top:50%;margin-top:-8px;right:0;}

.ektron-ui-gridview table tbody {overflow: hidden;position:relative;}
.ektron-ui-gridview table tbody td {padding:3px 10px 3px 10px;}
.ektron-ui-gridview table tbody td.ektron-ui-selectable-column {width:2em;text-align:center;padding:3px 0;}
.ektron-ui-gridview table tbody td.ektron-ui-selectable-column input {position:relative;left:-1px;}
.ektron-ui-gridview table tbody tr.ektron-ui-row-odd {background-color:#e6e6e6;}

.ektron-ui-gridview table tfoot .ektron-ui-row-pager td {margin:0;padding:0;border:1px solid silver;line-height:1.7em;}
.ektron-ui-gridview table tfoot .ektron-ui-row-pager .ektron-ui-row-pager-content {font-weight:normal;border:none;padding:3px;}
.ektron-ui-gridview table tfoot .ektron-ui-row-pager .total-entries-text {float:left;margin:0;padding:0;font-weight:normal;white-space:nowrap;}
.ektron-ui-gridview table tfoot .ektron-ui-row-pager .paging-interaction {float:right;margin:0;padding:0;font-weight:normal;text-align:right;white-space:nowrap;}
.ektron-ui-gridview table tfoot .ektron-ui-row-pager .paging-interaction div {display:inline;}
.ektron-ui-gridview table tfoot .ektron-ui-row-pager .paging-interaction .ad-hoc-paging {position:relative;top:2px;}
.ektron-ui-gridview table tfoot .ektron-ui-row-pager .paging-interaction .ektron-ui-button {font-size:.65em;margin-right:-0.5em;}

.ektron-ui-gridview table tfoot tr:last-child td:first-child {
    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;
}
.ektron-ui-gridview table tfoot tr:last-child td:last-child {
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;
}

 .ektron-ui-gridview .JColResizer {table-layout:fixed;}
 .ektron-ui-gridview .JColResizer tbody td,
 .ektron-ui-gridview .JColResizer tbody  th {overflow:hidden;} 
 .ektron-ui-gridview .JCLRgrips {height:0px; position:relative;} 
 .ektron-ui-gridview .JCLRgrip {margin-left:-5px; position:absolute; z-index:5;}
 .ektron-ui-gridview .JCLRgrip .JColResizer {position:absolute;background-color:red;filter:alpha(opacity=1);opacity:0;width:10px;height:100%;top:0px} 
 .ektron-ui-gridview .JCLRLastGrip {position:absolute; width:1px; } 
 .ektron-ui-gridview .JCLRgripDrag {border-left:1px dotted black;}