﻿.ektron-ui-fileUpload { border:1px solid silver; padding:0.5em; margin:0; }
.ektron-ui-fileUpload div.ektron-ui-fileUpload-files { width:100%; }
.ektron-ui-fileUpload div.ektron-ui-fileUpload-file { padding:0.25em 0.25em 0.5em 0.25em; }
.ektron-ui-fileUpload div.ektron-ui-fileUpload-file-inner { padding:0.25em; border:1px solid silver; }
.ektron-ui-fileUpload div.ektron-ui-fileUpload-browse { float: right; padding: 0.2em; }
.ektron-ui-fileUpload div.ektron-ui-fileUpload-fileName {padding: 0 .5em; clear left;}
.ektron-ui-fileUpload div.ektron-ui-fileUpload-fileName span {font-size: .8em; color: gray;}
.ektron-ui-fileUpload span.ektron-ui-fileUpload-message {display: inline-block; float: left; margin: 0.75em 0.5em 0; opacity: .8; }
.ektron-ui-fileUpload span.ektron-ui-fileUpload-label { padding:1em; }
.ektron-ui-fileUpload div.ektron-ui-fileUpload-delete,
.ektron-ui-fileUpload div.ektron-ui-fileUpload-cancel { float: right; padding:0.25em; }
.ektron-ui-fileUpload div.ektron-ui-fileUpload-progressBar {padding: .5em .25em .25em; margin-right: 3.25em;}
.ektron-ui-fileUpload .ui-progressbar { height: 1.5em; text-align: left; }