﻿.ektron-ui-wizard .steps ol {
    margin: 0;
    padding: 2em 0;
}
.ektron-ui-wizard .steps ol li
{
    list-style: none;
    float:left;
    margin: 0;
    border: none;
}

.ektron-ui-wizard .steps ol li.ui-state-default
{
    border-top: 4px solid #555555;
    margin: 0;
    padding: 0 1em .75em;
    cursor: pointer;
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
}

.ektron-ui-wizard .steps ol li.ui-state-default.ui-state-hover
{
    border-color: #212121;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.ektron-ui-wizard .steps ol li.ui-state-default.ui-state-hover a span.label
{
    color: #555555;
}

.ektron-ui-wizard .steps ol li.current.enabled.ui-widget.ui-state-default.ui-state-active.ui-state-hover a span.label
{
    color: #212121;
}

.ektron-ui-wizard .steps ol li.current, .ektron-ui-wizard .steps ol li.current.enabled.ui-widget.ui-state-default.ui-state-active.ui-state-hover
{
    opacity: .8;
    border-color: #555555;
}

.ektron-ui-wizard .steps ol li.ui-state-default:before
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #555555 transparent transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    content: "";
    display: block;
    margin: 0 auto;
}

.ektron-ui-wizard .steps ol li.ui-state-default.ui-state-hover:before
{
    border-color: #212121 transparent transparent transparent;
}

.ektron-ui-wizard .steps ol li.current.ui-state-default:before
{
    border-color: #555555 transparent transparent transparent;
    border-width: 8px;
}

.ektron-ui-wizard .steps ol li.ui-state-default a
{
    display: block;
}

.ektron-ui-wizard .steps ol li.current.ui-state-default a
{
    margin-top: -6px;
}