<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PersonalTags.aspx.cs" Inherits="Community_PersonalTags" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <asp:literal id="ptagsJSContainerLit" runat="server" />
</head>
<body>
    <form id="form1" action="PersonalTags.aspx" runat="server">
        <asp:PlaceHolder ID="PTagsCtlHolder" runat="server" />
    </form>
</body>
</html>

