﻿
.contentFolderSelectorWrapper .folderWrapper,.librarySelectorWrapper .folderWrapper,.filesystemSelectorWrapper .foldertreeWrapper
{
    width:30%;
    float:left;
}

.contentFolderSelectorWrapper .contentWrapper, .librarySelectorWrapper .libraryWrapper,.filesystemSelectorWrapper .filesystemWrapper
{
    width:70%;
    float:left;
}

#contentsHeaderContainer
{
    height:30px;
    padding-left:20px;
    background-color: #EBEBEB;
    border-top: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
}

.packageMeta, .packageContents
{
    margin:20px;
}

.packageMeta td.label, #contentsHeaderContainer h3
{
    color: #1D5987;
    font-weight:bold;
}

#contentsHeaderContainer h3
{
    margin-top:auto;
    margin-bottom:auto;
}

#uxPackageDescriptionValue textarea
{
    height:75px;
}

.packageMeta td.label, .packageMeta td.value
{
    padding:3px;
}

.packageContents
{
}

#uxSummaryHeaderContainer 
{
    height: 30px;
}

#uxSummaryHeaderContainer .leftFilters
{
    float:left;
}

#uxSummaryHeaderContainer .rightFilters
{
    float:right;
}

#uxSummaryContentsContainer, #uxOrphanSummaryContainer
{
    clear:both;
    margin-top: 10px;
    height:300px;
    overflow: scroll;
    width: 100%;
}

#uxSummaryContentsContainer, #uxOrphanSummaryContainer
{
    border: 1px solid #DDDDDD;
}

#uxSummaryContentsContainer .contentsScroll,#uxOrphanSummaryContainer .contentsScroll
{
    padding:10px;
}


.contentWrapper .contentFilters, .libraryWrapper .LibraryFilters, .filesystemWrapper .fileFilters,.packageDefinitionSelectorWrapper .packageFilters,.taxonomySelectorWrapper .taxonomyFilters,.menuSelectorWrapper .menuFilters,.collectionSelectorWrapper .collectionFilters
{
    margin:20px;
}
 .filesystemWrapper .fileFilters,.packageDefinitionSelectorWrapper .packageFilters,.taxonomySelectorWrapper .taxonomyFilters,.menuSelectorWrapper .menuFilters,.collectionSelectorWrapper .collectionFilters
 {
    height: 20px;
    top: 20px;    
 }

.contentFolderSelectorWrapper
{
    clear: both;
}

.deleteItem
{
    cursor:pointer;
}