﻿.accept 
{
    margin-top:  0;
} 
.Error, .Critical 
{
    margin-top:  -36px;
}
.help 
{
    margin-top:  -54px; 
} 
.Info, .Trace 
{
    margin-top:  -72px;
}
.Warning 
{
    margin-top:  -18px;
}

.errorFilterCriteria
{
	background-color: #D5E7F4;
	float: left;
	width: 100%;
}
.errorFilterCriteria .severity
{
	width: 15%;
	float: left;
	padding: 1em 0 0 1.5em;
	
}

.errorFilterCriteria .dateLogged
{
	width: 33%;
	float: left;
	padding: 1em 0;
}

.errorFilterCriteria .source
{
	width: 25%;
	float: left;
	padding: 1em 0;
}

.errorFilterCriteria .eventID
{
	width: 20%;
	float: right;
	padding: 1em 0;
}

.errorFilterCriteria .eventIDErrorLog
{
	width: 20%;
	padding: 1em 0;
}

.criterias { display:block; }

.scrollSource
{
    height: 12.5em;
    width: 17em;
    padding: 0.5em;
    border: 0.2em solid #ccc;
    background-color: White;
    overflow:scroll;
}

.scrollEventID
{
    height: 12.5em;
    padding: 0.5em;
    overflow: scroll;
    border: 0.2em solid #ccc;
    background-color: White;
    width: 10em;
}

.dateRangeWrapper
{
    display:none;
    padding-top: 1.5em;
    padding-left:1em;
}

.filterButtons
{
    padding-bottom: 1em;
    padding-left: 1em;
}

.fromDatePicker
{
    padding-top: 2em;
    padding-bottom:1em;
    padding-left:1em
}
.toDatePicker
{
    padding-top: 1em;
    padding-left:1em
}
.inputWidth
{
    width: 8em !important;
}

.filterLabel
{
    padding-bottom: 0.7em;
}
div#uxErrorMessage, div#uxWarning, div#uxInformation
{
    border: inherit;
    background: inherit;
    color: inherit;
    margin-top: -2.5em;
    padding-left: 2.5em !important;
}
.iconSpacing
{
    padding-left:0.3em;
    padding-right:0.5em
}
.customRangeDatepicker input[type="text"] {width: 8em;}