.ektron-ui-tree.ektron-ui-folderTree.showControls .selected > .hitLocation > .selectionLocation > .textWrapper
{
    background:none;
    border:1px solid transparent;
    }
    
.ektron-ui-tree.ektron-ui-folderTree.showControls .textWrapper:hover, 
.ektron-ui-tree.ektron-ui-folderTree.showControls .clickable:hover
{
    color: #000000;
}

/* Sprite Images START */

.ektron-ui-tree-folder.ektron-ui-tree-branch span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -102px; /*Folder Closed*/
}
.ektron-ui-tree-folder.ektron-ui-tree-branch.collapsible > .hitLocation > div > span.ui-icon
{
    border: none;
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -187px; /*Folder Open*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-root.collapsible > .hitLocation > div > span.ui-icon, .ektron-ui-tree-folder.ektron-ui-tree-type-root.expandable > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -239px; /*Root Home*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-catalog.expandable > .hitLocation > div > span.ui-icon, 
.ektron-ui-tree-folder.ektron-ui-tree-type-catalog.ektron-ui-tree-branch > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -153px; /*Catalog Folder Closed*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-catalog.collapsible > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -170px; /*Catalog Folder Open*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-blog > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px 0px; /*Blog Folder Closed*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-blog.collapsible > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -17px; /*Blog Folder Open*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-community > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -119px; /*Community Folder Closed*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-community.collapsible > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -136px; /*Community Folder Open*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-discussionboard > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -34px; /*Discussion Board Folder Closed*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-discussionboard.collapsible > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -51px; /*Discussion Board Folder Open*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-domain > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -204px; /*Domain Folder Closed*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-domain.collapsible > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -221px; /*Domain Folder Open*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-calendar > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -67px; /*Calendar Folder Closed*/
}

.ektron-ui-tree-folder.ektron-ui-tree-type-calendar.collapsible > .hitLocation > div > span.ui-icon
{
    background: url(../../../../../images/sprites/folderTree.png) no-repeat 0px -84px; /*Calendar Folder Open*/
}

.ektron-ui-tree-folder.ektron-ui-tree-branch.loading > .hitLocation > div > span.ui-icon
{
		background: url(../../../../../images/rotatingArrowsBlack.png) no-repeat center center transparent;
}

/* Sprite Images END */
