.aloha .ui-button .ui-icon.ektron-aloha-button.ektron-aloha-sourceview-button {background: url("../../../../../../../../../../images/sprites/sprite-aloha-icons.png") 0px 0px}
.ektron-aloha-sourceview-marker {background:#70a5e2; color:#fff}
#ektron-aloha-sourceview-uiPanel {
    height: 100%;
    color: #666;
}
.aloha-editable textarea.EktronScriptBlock{
    background: url("../../../../../../../../../../images/silk/icons/script_code.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    border: 0px;
    color:rgba(0,0,0,0);
    resize: none;
    overflow: hidden;
}
#ektron-aloha-sourceview-contentPanel {
    height: 90%;
    width: 100%;
    margin: 0;
    border: solid 1px #888;
    color: #888;
    line-height: 1.25em;
    padding: .25em;
    font-family: 'Courier',monospace;
    font-size: 14px;
    overflow: visible;
    background-color: #ffffff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    display: block;
    resize: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#ektron-aloha-sourceview-contentPanel.animated{
    height: 50%;
}
    #tests { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
.ace_search
{
    z-index:0 !important;
}
.ace_scroller
{
    z-index:0 !important;
}
.ace_replace_form
{
    display:inline-block !important;
}

.ace_editor p,
.ace_editor span,
.ace_editor div,
.ace_editor li
{
    font-family:inherit !important;
    font-size:inherit !important;
}

.ace_editor
{
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace !important;
    font-size: 12px !important;
    line-height: normal !important;
}
#FindReplaceExpand {
    height: 0px;
    display: none;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border: solid 1px #ccc;
    padding: .5em;
    margin-top: .5em;
}

#FindReplaceExpand.animated {
    display: block;
    height: 35%;
    min-height: 150px;
}

li#ektron-aloha-sourceview-panel .aloha-sidebar-panel-content-inner {margin:0;}

#FindReplaceExpand label {
    display: block;
}

#FindTxt, #ReplaceTxt
{
    display: block;
    margin-bottom: .5em;
    width: 90%; 
    color: #555;
}
.ektron-aloha-sourceview-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ektron-aloha-sourceview-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ektron-aloha-sourceview-clearfix { height:1%; }
.ektron-aloha-sourceview-clearfix { display:block; }
/* end clearfix */