﻿#alohaContainer{
    height:100px;
}
.aloha-ui .ui-tabs-panel{
    min-height:60px;
}
.aloha-ui .ui-tabs-nav[role='tablist']{
    cursor:default;
    background: #777 !important;
    background: rgba(0,0,0,0.3) !important;
    background-image: linear-gradient(bottom,rgba(0,0,0,0.35) 0,rgba(0,0,0,0.3) 20%) !important;
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.35) 0,rgba(0,0,0,0.3) 20%) !important;
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.35) 0,rgba(0,0,0,0.3) 20%) !important;
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.35) 0,rgba(0,0,0,0.3) 20%) !important;
    background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.35) 0,rgba(0,0,0,0.3) 20%) !important;
}
div#dvContent,
div#dvSummary,
div.Ektron_Dialog_Tabs_BodyContainer{
    border:1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow:auto !important;
    clear:both;
    padding-top:10px;
}
.aloha-editable-active,
.aloha-editable-highlight{
    outline:0px !important;
}
.aloha-editable-active, .aloha-editable-active[contenteditable="true"]:focus{
    outline:0px !important;
}
.aloha-ui-toolbar{
    top:11px !important;
    left: 0 !important;
}
.Ektron_Dialog_Tabs_BodyContainer{
    height:370px !important;
}