﻿/* workarea when editing */
form.WebCalendarEdit > .ektronPageHeader { height: 20px !important; }
form.WebCalendarEdit > div.ektronPageContainer { top: 20px !important; }
form.WebCalendarEdit > .ektronPageContainer > .ektronGrid { display: none !important; }
form.WebCalendarEdit > .ektronPageContainer > .paging { display: none !important; }

/* tabs */
.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; border-bottom:1px solid #d4d4d4; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

/* form css */
.rsAdvancedEdit .RadEWrapper .RadEToolbar { display:block; float:left; }
.rsAdvancedEdit .RadEWrapper > tbody > tr, .rsAdvancedEdit .RadEWrapper > tr { clear:both; }
.RadScheduler .rsAdvancedEdit .AdvCalendarSelect label { width:auto; }
div.rsAdvOptions .rsTimePickers li { display:block; }
div.rsAdvOptions .rsTimePick input { width:80px; }
div.rsAdvOptions .rsTimePick .rsAdvRadio input { width:auto; }
div.rsAdvOptions .rsTimePick img { vertical-align:middle; padding-bottom:2px; padding-left:1px; border: none 0px; }
div.rsAdvOptions input.ui-numeric-input { width: 38px; }
div.rsAdvOptions input.ui-numeric-input-error { background-image: url('/EktronTech/Workarea/images/UI/Icons/error.png'); background-position:right; background-repeat:no-repeat; border: solid 1px #A6C9E2; }
div.rsAdvOptions div.rsAdvBasicControls input.titleTextBox { width: 70%; font-size: 12pt; padding:3px; margin: 0px 0px 5px 8px; }
div.rsAdvOptions div.rsAdvBasicControls input.locationTextBox { width: 70%; font-size: 12pt; padding:3px; margin: 0px 0px 12px 8px; }
div.rsAdvOptions div.rsAdvBasicControls span.topLabel { display: inline-block; width: 60px; line-height:30px; vertical-align:top; }
div.rsAdvOptions input.datetime { border: 1px solid #999; background-color: #DDD; }
.RadScheduler .rsAdvancedEdit .rsAdvOptionsScroll > div { overflow: auto; }

div.rsAdvFormWrap { position:relative; width: 600px; width: auto !important; min-width:600px; }
.RadScheduler .rsAdvInnerTitle .leftTitle { float: left; }
.RadScheduler .rsAdvancedEdit .rsAdvEditClose { float:right; position:relative; margin: 0px 6px 0px 0px; }
.rsAdvOptionsScroll > ul li.floater { float:right; position:relative; width:0px; height:0px; }
.clearBR { clear:both; display:block; height:0px; width:0px; visibility:hidden; }

/* MetaData Custom Fields */
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata table { border-collapse:collapse; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata table.directContainerMetadataForm { padding: 0 8px 0 4px; border-collapse:separate; }

div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata > fieldset { padding: 0px;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata fieldset ul.buttonWrapper {float: left; width: auto; margin-top: .5em;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata fieldset ul.buttonWrapper li {float: left;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata { padding-bottom: 5px;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata .ektronMetadataFormBumpDown {margin-top: .5em;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata td#moveMeta a { background-position: center; background-color: #fff; border-color: #fff; border-style: none; border-width: 0; padding-bottom: 2em;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata td#moveMeta a.buttonAdd { background-image: url('../../images/ui/icons/arrowHeadRight.png');}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata td#moveMeta a.buttonAddAll { background-image: url('../../images/ui/icons/arrowHeadLast.png');}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata td#moveMeta a.buttonLeftRemove { background-image: url('../../images/ui/icons/arrowHeadLeft.png');}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata td#moveMeta a.buttonRemoveAll { background-image: url('../../images/ui/icons/arrowHeadFirst.png');}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata span.dateClass { display: inline-block; background-color: #f5f5f5; border: 1px solid #d4d4d4;border-bottom: 1px solid #d4d4d4; text-decoration: none; width:350px; padding: .25em;}

div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata td.label{color:#000; width:10%;white-space:nowrap;text-align:right;font-weight:bold;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata th.label{color:#000; width:10%;white-space:nowrap;text-align:right;font-weight:bold;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata span.label{color:#000; width:10%;white-space:nowrap;text-align:right;font-weight:bold;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata table.directContainerMetadataForm span.label{color:#000; width:auto;white-space:nowrap;text-align:right;font-weight:bold;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata label.label {color:#000; width:auto;white-space:nowrap;text-align:right;font-weight:normal;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata label.label b { font-size:1.1em;
}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata .checkboxIsSearchable {padding: .5em 0 0 .75em;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonAddTagWithText {background-image: url('../../images/ui/icons/add.png'); background-position:.25em;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata #newTagNameScrollingDiv {height: 80px; overflow: auto; border: solid 1px #aaaaaa; z-index: 1; margin-bottom:.5em;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata textarea { border:solid 1px #d4d4d4; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata select { border:solid 1px #d4d4d4; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata label.ektronCaption {width: 280px; float:right; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata table.directContainerMetadataForm {display:block}

/* -------------------------------------------------------------- 
	buttons
-------------------------------------------------------------- */

div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata ul.buttonWrapper {float: right;	margin: 0; padding: 0; list-style-type: none; width: 50%;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata ul.buttonWrapperLeft {float: left;	margin: 0; padding: 0; list-style-type: none; width: 50%;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata ul.buttonWrapper li {display: inline; background-image: none; background-color: transparent; float: right; margin: 0; padding: 0; border: 0px;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.text { font-size: .75em;}
	
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.button {display: block; background-color: #f5f5f5; border: 1px solid #eee; /*border-top:1px solid #eee; border-left:1px solid #eee;*/ line-height: 100%; text-decoration: none; color: #565656; cursor: pointer; padding: .25em 1em; margin: 0 0 0 .75em; background-repeat: no-repeat;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.button:active {  color: #8F8F8F;	font-size: inherit;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.button:visited {	color: #8F8F8F;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.button:hover {text-decoration: none;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonLeft {float:left;margin: 0 .75em 0 0;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonRight {float:right;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonInline {display:inline;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonInlineBlock {display: inline-block; margin: 0 .75em 0 0;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.button img {margin:0 3px -3px 0 !important;padding:0;border:none;width:16px;height:16px;vertical-align:inherit;}

/* button hover effects */
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.button:hover {border:1px solid #cccccc;color:#555555;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.greenHover:hover {background-color:#E6EFC2;border:1px solid #C6D880;color:#529214;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.redHover:hover {background-color:#fbe3e4;border:1px solid #fbc2c4;color:#d12f19;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.blueHover:hover {background-color:#dff4ff;border:1px solid #c2e1ef;color:#336699;}
/* button helpers */
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonNoIcon {padding: .25em; margin: 0em .25em; background-position: -1000px 0}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonRightIcon {padding: .25em 2.25em .25em 1em;}
/* specific button icons/classes */
/*div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonAdd {background-image: url('../../images/ui/icons/add.png'); background-position:.5em center;}*/
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonAddTag {display: block; width: 16px; height: 16px; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; background-image: url('../../images/ui/icons/add.png'); background-position:center; margin: 0 0.5em; padding: 0;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.renameBasket img {margin:0 3px -1px 3px !important;padding-left:3px;}
/*div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonCancel,
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonDelete { background-image: url('../../images/ui/icons/delete.png');background-position:.15em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonCatalog {background-image: url('../../images/ui/icons/folderGreen.png');	background-position: .6em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonChange { background-image: url('../../images/ui/icons/pencil.png');background-position:.25em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonCheckAll { background-image: url('../../images/ui/icons/check.png');background-position:.15em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonClear {background-image: url('../../images/ui/icons/cancel.png'); background-position:.25em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonDefault {background-image: url('../../images/ui/icons/restore.png');background-position:.25em center; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonEdit {background-image: url('../../images/ui/icons/pencil.png');	background-position: .25em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonFilter { background-image: url('../../Images/ui/icons/filter.png'); background-position: .25em center; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonProduct {background-image: url('../../images/ui/icons/brick.png');	background-position: .6em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonPreview { background-image: url('../../images/ui/icons/contentViewPublished.png');background-position:.55em .4em;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonOk { background-image: url('../../Images/ui/icons/check.png'); background-position: .25em center; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonUpdate { background-image: url('../../images/ui/icons/save.png'); background-position:.25em center;}

div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonRemove {background-image: url('../../images/ui/icons/remove.png');	background-position:.25em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonSearch {background-image: url('../../images/ui/icons/magnifier.png'); background-position: .6em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonSendMail { background-image: url('../../Images/ui/icons/emailSend.png'); background-position: .25em center; }
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonUpload {background-image: url('../../images/ui/icons/checkIn.png'); background-position: .6em center;}
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonTaxonomy {background-image: url('../../images/ui/icons/taxonomy.png');	background-position: .6em center;}*/
div.rsAdvOptions div.rsAdvOptionsScroll div#Metadata a.buttonMetadataDefault { margin-left: .75em; }

/* time select */
/* FILE: jquery.ptTileSelect.css
 * Date: 2009/04/12 20:23:02, Author: paulinho4u, Revision: 1.1 $ */
#ptTimeSelectCntr { width: 250px; font-size: .9em; position: absolute; z-index: 10; display: none; }
#ptTimeSelectCntr .ui-widget{ padding: .2em; }
#ptTimeSelectCntr .ui-widget-header { padding: .2em; }
#ptTimeSelectCntr #ptTimeSelectUserTime { font-size: larger; padding: .2em; padding-left: 1em; text-align: center; }
#ptTimeSelectCntr #ptTimeSelectCloseCntr { display: block; padding: .2em; }
#ptTimeSelectCntr #ptTimeSelectCloseCntr a { display: block; padding: .2em; }
#ptTimeSelectCntr .ui-widget-content { margin-top: .1em; margin-bottom: .1em; padding: .2em;	}
#ptTimeSelectCntr .ui-widget.ui-widget-content { margin-top: 0; }
#ptTimeSelectCntr .ptTimeSelectLeftPane.ui-widget-content { border-top:none; border-bottom:none; border-left:none; border-right-width: 2px; }
#ptTimeSelectCntr .ptTimeSelectRightPane.ui-widget-content { border: none; }
#ptTimeSelectCntr .ptTimeSelectHrCntr a, #ptTimeSelectCntr .ptTimeSelectMinCntr a { display: block; float: left; padding: .2em; width: 1.9em; margin: 1px; text-align: center; text-decoration: none; }
#ptTimeSelectCntr .ptTimeSelectHrAmPmCntr a { text-align: center; margin: 1px; }
#ptTimeSelectCntr .ptTimeSelectTimeLabelsCntr { font-weight: bold; font-size: .9em; }
#ptTimeSelectCntr #ptTimeSelectSetButton { padding-top: .2em; padding-bottom: .2em; }
#ptTimeSelectCntr #ptTimeSelectSetButton a { display: block; padding: .2em; width: 30%; text-align: center; float: right; }




/* RadScheduler base stylesheet */

/* <common> */

.RadScheduler,
.RadScheduler a,
.RadScheduler input,
.RadScheduler select,
.RadScheduler textarea
{
	outline: 0;
}

.RadScheduler
{
	cursor: default;
	overflow: auto;
	text-align: left;
	zoom: 1;
}

.RadScheduler .rsTopWrap
{
	position: relative;
	border: 0;
	width: 100% !important; /*Fix for IE6/7 0px width in a table when refreshed*/
	overflow: hidden;
}

.RadScheduler .aloha-editable li
{
	margin: 0 20px;
}
.RadScheduler,
.RadScheduler *
{
	margin: 0;
	padding: 0;
}

* html .RadScheduler .rsContent .rsInnerFix,
* html .RadScheduler .rsContent td
{
    zoom: 1;
}

.RadScheduler .rsContentTable,
.RadScheduler .rsAllDayTable
{
	overflow: hidden;
}

/* </common> */

/* <header> */

.RadScheduler .rsHeader
{
	height: 30px;
	line-height: 30px;
	position: relative;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-x;
}

.RadScheduler .rsHeader p
{
	padding-left: 5px;
	float: left;
}

.RadScheduler .rsHeader .rsDatePickerWrapper
{
	float: left;
	position: relative;
	top: 23px;
	left: -7px;
	overflow: hidden;
    z-index: 10;
}

.RadScheduler .rsHeader .rsPrevDay,
.RadScheduler .rsHeader .rsNextDay
{
	width: 17px;
	height: 17px;
	line-height: 17px;
	
	display: block;
	text-indent: -9999px;
	font-size: 0;
	float: left;
}

.RadScheduler .rsHeader .rsPrevDay
{
	margin: 6px 0 0 6px;
	background-position: 0 -48px;
}

.RadScheduler .rsHeader .rsNextDay
{
	margin: 6px 6px 0 0;
	background-position: -18px -48px;
}

.RadScheduler .rsHeader .rsPrevDay:hover
{
	background-position: -70px -48px;
}

.RadScheduler .rsHeader .rsNextDay:hover
{
	background-position: -88px -48px;
}

.RadScheduler .rsHeader .rsToday
{
	line-height: 30px;
}

.RadScheduler .rsHeader .rsDatePickerActivator
{
	margin: 3px 0 0 5px;
	width: 21px;
	height: 24px;
	line-height: 21px;
	float: left;
	font-size: 0;
	overflow: hidden;
	text-indent: -9999px;
	background-position: -228px -31px;
}

.RadScheduler .rsHeader .rsDatePickerActivator:hover
{
	background-position: -270px -31px;
}

.RadScheduler .rsHeader .rsDatePickerActivatorDown
{
	background-position: -249px -31px;
}

.RadScheduler .rsHeader .rsDatePickerCalendar
{
	position: absolute;
}

.RadScheduler .rsHeader h2
{
	font-size: 15px;
	font-weight: normal;
	text-indent: 43px;
	height: 30px;
	display: block;
	overflow: hidden;
}

.RadScheduler .rsHeader ul
{
	float: right;
	padding-right: 10px;
}

.RadScheduler .rsHeader li
{
	line-height: 30px;
	margin-top: 0;
	list-style-type: none;
	float: left;
}

.RadScheduler .rsTopWrap .rsHeader ul a
{
	text-decoration: none;
	display: block;
	padding-left: 9px;
	line-height: 30px;
}

.RadScheduler .rsHeader ul span,
.RadScheduler .rsHeader ul em
{
	text-decoration: none;
	display: block;
	padding: 0 9px 0 0;
	font-style: normal;
}

.RadScheduler .rsHeader .rsSelected { padding-left: 9px; background-position: 0 -69px; }
.RadScheduler .rsHeader .rsSelected em { padding-top: 0; background-position: 100% -69px; }
	
.RadScheduler .rsHeader ul a:hover,
.RadScheduler .rsLast a:hover { background-position: 0 -69px; }
.RadScheduler .rsHeader ul a:hover span { background-position: 100% -69px; }

/* </header> */

/* <content> */

/*     <headers> */

.RadScheduler tr
{
	font-size: 12px;
	empty-cells: show;
}

.RadScheduler th,
.RadScheduler td
{
	font-weight: normal;
	vertical-align: top;
	height: auto;
}

.RadScheduler .rsVerticalHeaderWrapper
{
	height: 100%;
	overflow: hidden;
	vertical-align: top;
}

.RadScheduler .rsVerticalHeaderWrapper div
{
	margin-left: 1px;
}

.RadScheduler .rsVerticalHeaderWrapper div div
{
	margin-left: 0;
}

.RadScheduler .rsVerticalHeaderTable div *
{
	padding-right: 4px;
}

.RadScheduler .rsVerticalHeaderTable
{
	height: 100%;
	width: 100%;
}

.RadScheduler .rsVerticalHeaderTable th
{
	border-style: solid;
	border-width: 0 1px 1px 0;
}
* html .RadScheduler .rsVerticalHeaderTable th { border-bottom: 0; text-align: right; }
* html .RadScheduler .rsVerticalHeaderTable .rsMainHeader th,
* html .RadScheduler .rsVerticalHeaderTable .rsAlt th { border-bottom: 1px solid; }

.RadScheduler .rsVerticalHeaderTable .rsAlt th
{
	vertical-align: bottom;
}

.RadScheduler .rsTopWrap .rsHidden
{
	display: none;
}

.RadScheduler .rsTopWrap .rsHidden,
.RadScheduler .rsTopWrap .rsHidden th
{
	overflow: hidden;
	border-style: none;
	line-height: 0;
	font-size: 0;
	height: 0;
}

.RadScheduler .rsVerticalHeaderTable div
{
	white-space: nowrap; /* think about removing the nowrap!!! */
	overflow: hidden;	
	height: 100%;
	font-weight: bold;
	text-align: right;
}

.RadScheduler .rsSpacerCell,
.RadScheduler .rsHorizontalHeaderTable th,
.RadScheduler .rsVerticalHeaderTable div,
.RadScheduler .rsAllDayHeader,
.RadScheduler .rsAllDayTable
{
	line-height: 13px;
}

*|html .RadScheduler .rsSpacerCell,
.RadScheduler .rsHorizontalHeaderTable th,
.RadScheduler .rsVerticalHeaderTable div,
.RadScheduler .rsAllDayHeader,
.RadScheduler .rsAllDayTable
{
	line-height: 14px;
}

.RadScheduler .rsHorizontalHeaderWrapper
{
	overflow: hidden;
}

.RadScheduler .rsHorizontalHeaderTable,
.RadScheduler .rsAllDayTable
{
	table-layout: fixed;
}

.RadScheduler .rsSpacerCell,
.RadScheduler .rsHorizontalHeaderTable th
{
	vertical-align: middle;
}

.RadScheduler .rsHorizontalHeaderTable th
{
	background-repeat:  repeat-x;
	background-position: 0 -144px;
	text-align: center;
}

.RadScheduler .rsVerticalHeaderTable .rsMainHeader th
{
	display: block;
}

* html .RadScheduler .rsVerticalHeaderTable .rsMainHeader th
{
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
}

.RadScheduler .rsSpacerCell,
.RadScheduler .rsVerticalHeaderTable th,
.RadScheduler .rsHorizontalHeaderTable th
{
	border-width: 0 1px 1px 0;
	border-style: solid;
	overflow: hidden;
}

.RadScheduler .rsAllDayRow td,
.RadScheduler .rsContentTable td
{
	border-width: 0 1px 1px 0;
	border-style: solid;
}

.RadScheduler .rsSpacerCell,
.RadScheduler .rsContent .rsAllDayHeader
{
	text-align: center;
}

.RadScheduler .rsVerticalHeaderTable th
{
	text-align: right;
}

.RadScheduler .rsTopWrap .rsLastCell
{
	border-right-width: 0;
}

.RadScheduler .rsAmPm
{
	font-size: 10px;
	font-weight: normal;
	line-height: 10px;
	text-transform: lowercase;
	position: relative;
	top: -4px;
	padding: 0 1px;
}

* html .RadScheduler .rsAmPm
{
	position: static;
	padding-bottom: 4px;
	display: inline-block;
}

*+html .RadScheduler .rsAmPm
{
	position: static;
	padding-bottom: 4px;
	display: inline-block;
}

.RadScheduler .rsAllDayHeader
{
	border-width: 0 1px 1px 0;
	border-style: solid;
}

.RadScheduler .rsDateHeader
{
	padding: 1px 4px 3px;
	text-decoration: none;
	font-size: 13px;
}

.RadScheduler .rsMonthView .rsDateBox
{
	display: block;
	height: 16px;
	white-space: nowrap;
	background-repeat: repeat-x;
	background-position: 0 -299px;
}

.RadScheduler .rsMonthView .rsAptCreate .rsDateBox
{
	background-position: 0 -318px;
}

/*
	IE quirks mode - the height of the headers is incorrect.
	This must be set explicitly to (RowHeight - 1px).
*/
* html .RadScheduler .rsVerticalHeaderTable
{
	table-layout: fixed;
	text-align: right;
}

* html .RadScheduler .rsVerticalHeaderTable tbody div
{
	height: auto;
}

/*     </headers> */

.RadScheduler .rsContentWrapper
{
    vertical-align: top;
	height: 100%;
}

/* nasty ie6-quirks-only-hack */
* html .RadScheduler .rsContent
{
	width /**/: 100%;
}

.RadScheduler .rsContentTable
{
	table-layout: fixed;
}

/*     <appointments> */

.RadScheduler .rsWrap
{
	position: relative;
	width: 100%;
	height: 100%;
}

.RadScheduler .rsApt  /* container */
{
    height:100%;
	overflow: visible;
    position:absolute;
	line-height: 14px;
	font-size: 11px;
}

.RadScheduler .rsAptOut /* bottom-left */
{
	margin-top: 4px;
	margin-right: 4px;
	border: 0;
	padding: 0;
	position: relative;
	height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 100%;
}

.RadScheduler .rsAptMid /* bottom-right */
{
	height: 100%;
	border: 0;
	margin: 0;
	overflow: visible;
	position: relative;
	right: -4px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.RadScheduler .rsAptIn /* top-right */
{
	height: 100%;
	position: relative;
	margin-top: 0;
	overflow: hidden;
	bottom: 4px;
	overflow: visible;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.RadScheduler .rsAptContent /* top-left */
{
	height: 100%;
	padding: 0 0 0 5px;
	margin-left: -4px;
	margin-right: 4px;
	position: relative;
	text-indent: 0;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.RadScheduler .rsWArrowLeft .rsAptContent { padding-left: 8px; }
.RadScheduler .rsTimelineView .rsWArrowLeft .rsAptContent { padding-left: 14px; }
.RadScheduler .rsWArrowRight .rsAptContent { padding-right: 12px; }
.RadScheduler .rsTimelineView .rsWArrowRight .rsAptContent { padding-right: 18px; }

.RadScheduler .rsAptContent:before
{
	content: " ";
	clear: both;
	visibility: hidden;
	display: block;
	font-size: 3px;
	line-height: 3px;
	height: 3px;
}

* html .RadScheduler .rsAptContent:first-line { line-height: 19px; } /* IE6 */
*+html .RadScheduler .rsAptContent:first-line { line-height: 18px; } /* IE7 */

* html .RadScheduler .rsAptContent { word-break: break-all; }

.RadScheduler .rsAptDelete,
.RadScheduler .rsArrowTop,
.RadScheduler .rsArrowBottom,
.RadScheduler .rsArrowLeft,
.RadScheduler .rsArrowRight,
.RadScheduler .rsAptResize,
.RadScheduler .rsAdvEditClose
{
	position: absolute;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

.RadScheduler .rsAptRecurrence,
.RadScheduler .rsAptRecurrenceException
{
	margin-top: 3px;
	display: inline;
	float: left;
	width: 12px;
	height: 10px;
}
.RadScheduler .rsAptRecurrence { background-position: -1px -348px }
.RadScheduler .rsAptRecurrenceException { background-position: -16px -348px }
* html .RadScheduler .rsAptRecurrence, 
* html .RadScheduler .rsAptRecurrenceException { margin-top: 5px; } /* IE6 */
*+html .RadScheduler .rsAptRecurrence, 
*+html .RadScheduler .rsAptRecurrenceException { margin-top: 5px; } /* IE7 */

@media all and(-webkit-max-device-pixel-ratio: 10000),
   not all and(-webkit-min-device-pixel-ratio: 0) 
{
		.RadScheduler .rsAptRecurrence,
		.RadScheduler .rsAptRecurrenceException { margin-top: 5px; }
		
		.RadScheduler .rsAptContent:first-line { line-height: 18px; }
} /* Opera */

.RadScheduler .rsAptCreate,
.RadScheduler .rsMonthView .rsAptCreate
{
	background-position: 0 -589px;
}

.RadScheduler .rsAptCreateRow2,
.RadScheduler .rsMonthView .rsAptCreateRow2
{
	background-position: 0 -610px;
}

.RadScheduler .rsAptDelete,
.RadScheduler .rsAdvEditClose
{
	width: 21px;
	height: 18px;
	outline: 0;
	background-position: -36px -343px;
}

.RadScheduler .rsAptDelete
{
	top: 4px;
	right: 0;
	visibility: hidden;
}

.RadScheduler .rsWArrowRight .rsAptDelete
{
	right: 7px;
}

.RadScheduler .rsArrowTop,
.RadScheduler .rsArrowBottom
{
	width: 100%;
	height: 4px;
}
.RadScheduler .rsArrowTop { background-position: 50% -360px; top: 3px; }
.RadScheduler .rsArrowBottom { background-position: 50% -392px; bottom: 0; }

.RadScheduler .rsAptResize
{
	width: 100%;
	height: 4px;
	cursor: s-resize;
	bottom: 2px; 
	margin-left: -2px; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
	background-position: 50% -396px; 
}

.RadScheduler .rsTimelineView .rsAptResize
{
	height: 100%;
	width: 4px;
	cursor: w-resize;
	right: 3px;
	margin-top: -4px;
	background-position:-150px -400px;
}

.RadScheduler .rsArrowLeft,
.RadScheduler .rsArrowRight
{
	height: 7px;
	width: 4px;
	top: 48%; 
}
.RadScheduler .rsArrowLeft { background-position: -132px -374px; left: 2px; }
.RadScheduler .rsArrowRight { background-position: -164px -374px; right: 4px; }
.RadScheduler .rsTimelineView .rsArrowRight { right: 8px; }

/* Four additional appointment resource styles */

.RadScheduler .rsCategoryBlue .rsAptContent,
.RadScheduler .rsCategoryBlue .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryBlue .rsAptMid,
.RadScheduler .rsCategoryBlue .rsAptOut
{
	background-image: url('images/rsAppointmentBlueBg.png');
}

.RadScheduler .rsCategoryRed .rsAptContent,
.RadScheduler .rsCategoryRed .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryRed .rsAptMid,
.RadScheduler .rsCategoryRed .rsAptOut
{
	background-image: url('images/rsAppointmentRedBg.png');
}

.RadScheduler .rsCategoryGreen .rsAptContent,
.RadScheduler .rsCategoryGreen .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryGreen .rsAptMid,
.RadScheduler .rsCategoryGreen .rsAptOut
{
	background-image: url('images/rsAppointmentGreenBg.png');
}

.RadScheduler .rsCategoryOrange .rsAptContent,
.RadScheduler .rsCategoryOrange .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryOrange .rsAptMid,
.RadScheduler .rsCategoryOrange .rsAptOut
{
	background-image: url('images/rsAppointmentOrangeBg.png');
}

.RadScheduler .rsCategoryPink .rsAptContent,
.RadScheduler .rsCategoryPink .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryPink .rsAptMid,
.RadScheduler .rsCategoryPink .rsAptOut
{
	background-image: url('images/rsAppointmentPinkBg.png');
}

.RadScheduler .rsCategoryYellow .rsAptContent,
.RadScheduler .rsCategoryYellow .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryYellow .rsAptMid,
.RadScheduler .rsCategoryYellow .rsAptOut
{
	background-image: url('images/rsAppointmentYellowBg.png');
}

.RadScheduler .rsCategoryViolet .rsAptContent,
.RadScheduler .rsCategoryViolet .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryViolet .rsAptMid,
.RadScheduler .rsCategoryViolet .rsAptOut
{
	background-image: url('images/rsAppointmentVioletBg.png');
}

.RadScheduler .rsCategoryDarkRed .rsAptContent,
.RadScheduler .rsCategoryDarkRed .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryDarkRed .rsAptMid,
.RadScheduler .rsCategoryDarkRed .rsAptOut
{
	background-image: url('images/rsAppointmentDarkRedBg.png');
}

.RadScheduler .rsCategoryDarkGreen .rsAptContent,
.RadScheduler .rsCategoryDarkGreen .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryDarkGreen .rsAptMid,
.RadScheduler .rsCategoryDarkGreen .rsAptOut
{
	background-image: url('images/rsAppointmentDarkGreenBg.png');
}

.RadScheduler .rsCategoryDarkBlue .rsAptContent,
.RadScheduler .rsCategoryDarkBlue .rsAptMid .rsAptIn,
.RadScheduler .rsCategoryDarkBlue .rsAptMid,
.RadScheduler .rsCategoryDarkBlue .rsAptOut
{
	background-image: url('images/rsAppointmentDarkBlueBg.png');
}

.RadScheduler .rsCategoryDarkRed .rsAptContent,
.RadScheduler .rsCategoryDarkGreen .rsAptContent,
.RadScheduler .rsCategoryDarkBlue .rsAptContent,
.RadScheduler .rsCategoryViolet .rsAptContent
{
	color: #fff;
}

/*     </appointments> */

/* <month view :: temporary> */

.RadScheduler .rsMonthView .rsWrap
{
	height: 25px;
}

.RadScheduler .rsMonthView .rsApt 
{
    width:100%;
}

.RadScheduler .rsMonthView .rsAptWrap
{
	overflow: hidden;
}

.RadScheduler .rsMonthView .rsAptBottom
{
	margin-top: 25px;
}

.RadScheduler .rsMonthView .rsShowMore
{
	color: #333;
	text-decoration: underline;
	text-align: center;
	cursor: pointer;
}

/* </month view> */

/* <timeline view :: temporary> */

.RadScheduler .rsTimelineView
{
	background: #fff;
}

/* </timeline view> */

/* </content> */

/* <footer> */

.RadScheduler .rsFooter
{
	background-position: 0 -559px;
	border-top-width: 1px;
	border-top-style: solid;
	min-height: 30px;
	height: 30px;
	vertical-align: middle;
}

.RadScheduler .rsFooter .rsFullTime
{
	text-decoration: none;
	padding: 0 0 0 13px;
	margin-left: 5px;
	font-size: 11px;
	line-height: 30px;
	background-position:  0 -252px;
}

.RadScheduler .rsFooter .rsFullTime:hover
{
	text-decoration: underline;
	/*background-position:  0 -275px; */ /* skin-specific! bugged default */
}

/* </footer> */

/* <inline edit form> */

.RadScheduler .rsAptEditFormWrapper,
.RadScheduler .rsAptEditFormOuter
{
	position: relative;
}

.RadScheduler .rsAptEditFormWrapper,
.RadScheduler .rsAptEditFormOuter,
.RadScheduler .rsAptEditFormInner,
.RadScheduler .rsAptEditFormMiddle,
.RadScheduler .rsAptEditFormMiddle2,
.RadScheduler .rsAptEditResizeHandle
{
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadScheduler .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	position: relative;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	margin: -6px -4px 0 -6px;
}

.RadScheduler .rsAptEditFormWrapper textarea
{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	resize: none;
	overflow: auto;
}

.RadScheduler .rsAptEditFormWrapper .rsEditOptions
{
	margin: 0 -4px 0 -1px;
	padding: 7px 0 4px;
	overflow: hidden;
	zoom: 1;
}

.RadScheduler .rsAptEditFormWrapper .rsEditOptions a
{
	width: 73px;
	height: 21px;
	line-height: 21px;
	text-decoration: none;
	display: block;
	margin: 0 5px 0 0;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	bottom: 0;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	font-size: 11px;
	position: static;
	background-position: 0 -474px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadScheduler .rsAptEditFormWrapper .rsEditOptions a:hover
{
	background-position: -73px -474px;
}

.RadScheduler .rsAptEditFormWrapper .rsEditOptions .rsAptEditConfirm
{
	background-position: -146px -474px;
}

.RadScheduler .rsAptEditFormWrapper .rsEditOptions .rsAptEditConfirm:hover
{
	background-position: -219px -474px;
}

.RadScheduler .rsAptEditFormWrapper .rsEditOptions .rsAptEditMore
{
	margin: 0;
}

.RadScheduler .rsAptEditSizingWrapper
{
	position: absolute;
	width: 100%;
	visibility: hidden;
}

.RadScheduler .rsAptEditSizingWrapper *
{
    _zoom: normal;
}

.RadScheduler .rsAptEditFormOuter { padding: 10px 0 0 0; background-position: 100% 0; }
.RadScheduler .rsAptEditFormInner { padding: 0 0 4px 0; background-position: 0 100%; }
.RadScheduler .rsAptEditFormMiddle { padding: 0 0 0 10px; margin-left: -10px; background-position: 0 100%; }
.RadScheduler .rsAptEditFormMiddle2 { padding:0 8px 0 0; background-position: 100% 100%; }
.RadScheduler .rsAptEditFormWrapper { padding: 0 0 0 10px; background-position: -265px -226px; }

.RadScheduler .rsAptEditResizeHandle
{
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 10px;
	position: relative;
	bottom: 6px;
	right: -8px;
	float: right;
	cursor: se-resize;
	background-position: -265px -216px;
}
* html .RadScheduler .rsAptEditResizeHandle { font-family: Arial; font-size: 8px; line-height: 0;  } /* IE6/7 */

/* </inline edit form> */

/* <advanced edit form> */

/*     <common>     */

/* <advanced edit title> */
.RadScheduler .rsAdvancedEdit .rsAdvTitle
{
	height: 30px;
}

.RadScheduler .rsAdvancedEdit .rsAdvInnerTitle
{
	height: 22px;
	font-size: 14px;
	font-weight: normal;
}
* html .RadScheduler .rsAdvancedEdit .rsAdvInnerTitle
{
	height /**/: 30px;
}


.RadScheduler .rsAdvancedEdit .rsAdvTitle
{
	padding: 0 0 0 4px;
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadScheduler .rsAdvancedEdit .rsAdvInnerTitle
{
	background-color: transparent;
	background-position: 100% 0;
	background-repeat: no-repeat;
	padding: 8px 0 0 5px;
}
/* </advanced edit title> */
		
		
.RadScheduler .rsAdvDragCue
{
	border: 2px dashed #444;
	background-color: #aaa;
}

.RadScheduler .rsAdvancedEdit .rsAdvContentWrapper
{
	padding: 10px 10px 0 10px;
}

.RadScheduler .rsAdvancedEdit .rsAdvOptionsScroll
{
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 10px;
}

.RadScheduler .rsAdvancedEdit .rsAdvOptions
{
	overflow: hidden;
	zoom: 1;
}

.RadScheduler .rsAdvancedEdit ul
{
	zoom: 1;
	list-style: none outside;
}

.RadScheduler .rsAdvancedEdit label 
{
	vertical-align: middle;
	line-height: 23px;
	width: 110px;
	padding: 0 6px 0 0;
	margin: 0;
	display: -moz-inline-block;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: right;
}

.RadScheduler .rsAdvancedEdit table.riTable td
{
	vertical-align: top;
} 

.RadScheduler .rsAdvancedEdit .textareaWrapper,
.RadScheduler .rsAdvancedEdit .rsAdvInput,
.RadScheduler .rsAdvancedEdit select
{
	border-width: 1px;
	border-style: solid;
	vertical-align: middle;
}

.RadScheduler .rsAdvancedEdit .textareaWrapper
{
	padding: 5px;
	resize: none;
	margin: 0 0 11px 81px;
	border-width: 1px;
	border-style: solid;
	zoom: 1;
}

.RadScheduler .rsAdvancedEdit textarea
{
	display: block;
	width: 100%;
	border: 0;
	outline: 0;
	resize: none;
	overflow: auto;
}

.RadScheduler .rsAdvancedEdit .rsAdvInput
{
	padding: 3px 0 2px 1px;
	outline: 0;
	vertical-align: middle;
}

.RadScheduler .rsAdvancedEdit .rfdSelect 
{
	vertical-align: top;
	overflow: visible;
}

.RadScheduler .rsAdvancedEdit .rfdSelect .rfdSelectOuter
{
	float: none;
	height: 18px;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns input,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns select,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel input,
.RadScheduler .rsAdvancedEdit .rsAdvMoreControls input
{
	vertical-align: baseline;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrence
{
	position: relative;
}

.RadScheduler .rsAdvancedEdit .rsAdvResetExceptions
{
	position: absolute;
	right: 10px;
	bottom: -25px;
	text-decoration: underline;
}

.RadScheduler .rsValidatorTooltip
{
	position:absolute;
	border: 1px solid #f32800;
	background: #fffdbb;
	color: #f32800;
	white-space: nowrap;
	padding: 2px 4px;
	margin-top: 1px;
}

.RadScheduler .rsAdvancedEdit input.rsInvalid
{
	border-width: 1px;
	border-style: solid;
	background: #fff;
}

.RadScheduler .rsAdvancedEdit .rsInvalid textarea
{
	background-repeat: no-repeat;
	background-position: 100% -300px;
}

/*     </common>     */

/*     <basic controls>     */

.RadScheduler .rsAdvancedEdit .rsAdvBasicControls li
{
	white-space: nowrap;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel
{
	clear: both;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel li
{
	float: left;
	height: 32px;
	line-height: 18px;
	margin-right: 28px;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel .rsTimePick
{
	margin-right: 0;
}

.RadScheduler .rsAdvancedEdit .rsAdvChkWrap 
{
	padding-right: 8px;
}

.RadScheduler .rsAdvancedEdit .rsAdvChkWrap label,
.RadScheduler .rsAdvancedEdit .rsResourceControls .rsCheckBoxList label,
.RadScheduler .rsAdvancedEdit .rsRecurrenceOptionList label,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns label,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel label
{
	width: auto;
	display: inline;
	text-align: left;
	float: none;
}

.RadScheduler .rsAdvancedEdit .rsAdvChkWrap label.rfdCheckboxChecked,
.RadScheduler .rsAdvancedEdit .rsAdvChkWrap label.rfdCheckboxUnchecked
{
	padding-left: 20px; /* override for form-decorated checkboxes */
}

.RadScheduler .rsAdvancedEdit .rsAdvRadio
{
	display: -moz-inline-block;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.RadScheduler .rsAdvancedEdit .rsAdvRadio label
{
	vertical-align: baseline;
}

.RadScheduler .rsAdvancedEdit .rsAdvChkWrap input,
.RadScheduler .rsAdvancedEdit .rsRecurrenceOptionList input,
.RadScheduler .rsAdvancedEdit .rsAdvRadio input,
.RadScheduler .rsAdvancedEdit .rsAdvWeekly_WeekDays input
{
	display: -moz-inline-block;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin-right: 3px;
}

* html .RadScheduler .rsAdvancedEdit .rsAdvChkWrap input,
* html .RadScheduler .rsAdvancedEdit .rsRecurrenceOptionList input,
* html .RadScheduler .rsAdvancedEdit .rsAdvRadio input,
* html .RadScheduler .rsAdvancedEdit .rsAdvWeekly_WeekDays input
{
	margin: 0;
}

*+html .RadScheduler .rsAdvancedEdit .rsAdvChkWrap input,
*+html .RadScheduler .rsAdvancedEdit .rsRecurrenceOptionList input,
*+html .RadScheduler .rsAdvancedEdit .rsAdvRadio input,
*+html .RadScheduler .rsAdvancedEdit .rsAdvWeekly_WeekDays input
{
	margin: 0;
}

* html .RadScheduler .rsAdvancedEdit .rsAdvDatePicker { margin-right: 5px; }
* html .RadScheduler .rsAdvancedEdit .rsAdvDatePicker .rdfd_ { display: none !important; }

*+html .RadScheduler .rsAdvancedEdit .rsAdvDatePicker { margin-right: 8px; }
*+html .RadScheduler .rsAdvancedEdit .rsAdvDatePicker .rdfd_ { display: none !important; }

.RadScheduler .rsAdvancedEdit .rsAdvDatePicker
{
	zoom: 1;
}

.RadScheduler .rsAdvancedEdit .rsAdvTimePicker
{
	display: inline;
}

.RadScheduler .rsAdvancedEdit .rsAdvBasicControls .rsAdvTimePicker .riTextBox,
.RadScheduler .rsAdvancedEdit .rsAdvDatePicker input
{
	vertical-align: top;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrence
{
	margin-bottom: 9px;
}

/*     </basic controls>     */

/*     <recurrence frequency>     */

.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceFreq
{
	float: left;
	width: 25%;
	height: 100px;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceFreq label
{
	line-height: 20px;
}
 
.RadScheduler .rsAdvancedEdit .rsAdvPatternPanel
{
	float: left;
	height: 100px;
	width: 365px;
	padding-left: 20px;
	line-height: 23px;
	border-left: 1px solid #dfdfdf;
	text-indent:-20px;
	margin-left:30px;
}

.RadScheduler .rsAdvancedEdit .rsAdvPatternPanel label  /* IE all versions star element hack */
{
	margin-left:0px\9; /* IE8 selector - doesn't support star attribute hack */
	*margin-left:30px; /* IE selector - all other versions */
} 

.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns p
{
	padding: 4px 0 5px;
}

* html .RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .rsAdvHourly .RadInput,
* html .RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .rsAdvWeekly .RadInput { vertical-align: middle; }
* html .RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .rsAdvYearly .RadInput { margin: -1px 0 0 5px; }

*+html .RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .rsAdvHourly .RadInput,
*+html .RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .rsAdvWeekly .RadInput { vertical-align: middle; }
*+html .RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .rsAdvYearly .RadInput { margin: -1px 0 0 5px; }

.RadScheduler .rsAdvancedEdit .rsAdvWeekly_WeekDays li
{
	float: left;
	width: 105px;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel
{
	overflow: hidden;
	border: 1px solid #ababab;
	padding: 8px 0 7px 10px;
	zoom: 1;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns
{
	margin: 11px 0 5px;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel .rsAdvInput,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .rsAdvInput
{
	width: 26px;
	padding-right: 2px;
}

.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel .RadInput,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .RadInput,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrenceRangePanel .RadComboBox,
.RadScheduler .rsAdvancedEdit .rsAdvRecurrencePatterns .RadComboBox
{
	vertical-align: top;
}

.RadScheduler .rsAdvancedEdit .riUp
{
	margin-top: 2px;
}

.RadScheduler .rsAdvancedEdit .rsAdvDaily li,
.RadScheduler .rsAdvancedEdit .rsAdvMonthly li,
.RadScheduler .rsAdvancedEdit .rsAdvYearly li
{
	line-height: 23px;
	height: 23px;
	margin-bottom: 5px;
}

/*     </recurrence frequency>     */

/*     <resources>     */

.RadScheduler .rsAdvancedEdit .rsAdvResourceLabel,
.RadScheduler .rsAdvancedEdit .rsAdvResourceValue,
.RadScheduler .rsAdvancedEdit .rsCheckBoxList
{
	display: -moz-inline-block;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

.RadScheduler .rsAdvancedEdit .rsAdvResourceLabel
{
	padding-right: 6px;
}

.RadScheduler .rsAdvancedEdit .rsResourceControls li
{
	clear: left;
}

.RadScheduler .rsAdvancedEdit .rsResourceControls select,
.RadScheduler .rsAdvancedEdit .rsResourceControls input 
{
	width: 140px;
}

/* Override for checkboxes */
.RadScheduler .rsAdvancedEdit .rsResourceControls .rsCheckBoxList input
{
	width: auto;
	margin: 0 4px 0 0;
	vertical-align: middle;
}

/*     </resources>     */

/*     <submit area>     */

.RadScheduler .rsAdvancedEdit .rsAdvancedSubmitArea
{
	text-align: right;
}

.RadScheduler .rsAdvancedEdit .rsAdvButtonWrapper
{
	display: -moz-inline-block;
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 10px 0;
}

.RadScheduler .rsAdvancedEdit .rsAdvancedSubmitArea a
{
	text-decoration: none;
	width: 73px;
	height: 21px;
	line-height: 21px;
	display: block;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
	background-color: transparent;
	background-repeat: no-repeat; 
	background-position: 0 -474px;
}

.RadScheduler .rsAdvancedEdit .rsAdvancedSubmitArea a,
.RadScheduler .rsAdvancedEdit .rsAdvancedSubmitArea span
{
	display: block;
	float: left;
	cursor: pointer;
}

.RadScheduler .rsAdvancedEdit .rsAdvancedSubmitArea span
{
	float: none;
}

.RadScheduler .rsAdvancedEdit div.rsAdvancedSubmitArea a:hover
{
	background-position: -73px -474px;
}

.RadScheduler .rsAdvancedEdit div.rsAdvancedSubmitArea a.rsAdvEditSave
{
	background-position: -146px -474px;
}

.RadScheduler .rsAdvancedEdit div.rsAdvancedSubmitArea a.rsAdvEditSave:hover
{
	background-position: -219px -474px;
}

/* </submit area> */

/* <date/time picker> */

.RadScheduler .rsDatePickerCalendar .rcRow a
{
	line-height: inherit;
}

.RadScheduler .rsTimePickers
{
	display: -moz-inline-block;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 5px 0;
}

.RadScheduler .rsTimePick .RadPicker
{
	display: -moz-inline-block;
	display: inline-block;
	*display: inline;
}

* html .RadScheduler .rsTimePick .RadPicker { zoom: 1; }

.RadScheduler .rsAttributeControls li,
.RadScheduler .rsResourceControls li
{
	padding-bottom: 5px;
}
.RadScheduler .rsAttributeControls li li,
.RadScheduler .rsResourceControls li li
{
	padding-bottom: 0;
}

.RadScheduler .rsAllDayWrapper
{
	float: left;
	margin-left: 25px;
}

.RadScheduler .rsTimePick input.riEnabled,
.RadScheduler .rsTimePick input.riHover,
.RadScheduler .rsTimePick input.riFocused,
.RadScheduler .rsTimePick input.riEmpty
{
	background-repeat: no-repeat;
	background-position: 100% -254px;
}

/* </date/time picker> */

* html .RadScheduler .rsAdvRecurrenceDropDown { margin-right: 5px; }
*+html .RadScheduler .rsAdvRecurrenceDropDown { margin-right: 5px; }

/* </advanced edit form> */

/* <modal dialogs> */

.RadScheduler .rsModalWrapper,
.RadScheduler .rsOverlay
{
	position: absolute;
	top: 0;
	left: 0;
}

.RadScheduler .rsModalWrapper
{
	z-index: 5000;
}

.RadScheduler .rsModalWrapper .rsOverlay
{
	background: #000;
}

.RadScheduler .rsModalWrapper .rsModalDialog
{
	position: absolute;
	overflow: hidden;
	border: 0;
	background: transparent;
}

.RadScheduler .rsModalWrapper .rsModalOuter
{
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 4px 4px 0 4px;
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadScheduler .rsModalWrapper .rsModalOuterTitle
{
	background-color: transparent;
	background-position: 100% 0;
	background-repeat: no-repeat;
	padding: 28px 4px 4px 0;
	margin: -4px -4px 0 0;
}

.RadScheduler .rsModalWrapper .rsModalInner
{
	border-width: 1px;
	border-style: solid;
}

.RadScheduler .rsModalWrapper .rsModalWindowClose
{
	background-color: transparent;
	background-position: -38px -526px;
	background-repeat: no-repeat;
	display: block;
	width: 28px;
	height: 16px;
	float: right;
	margin-top: -22px;
	padding: 1px;
}

.RadScheduler .rsModalWrapper .rsModalTitle,
.RadScheduler .rsModalWrapper .rsModalContent,
.RadScheduler .rsModalWrapper .rsModalButtons
{
	padding: 0 44px 0 96px;
}

.RadScheduler .rsModalWrapper .rsModalContent
{
	margin-top: 26px;
	padding-left: 105px;
}

.RadScheduler .rsModalWrapper .rsModalTitle
{
	position: absolute;
	top: 1px; 
	left: 6px;
	padding: 0 0 0 20px;
	font-size: 13px;
	font-weight: normal;
	line-height: 26px;
	background-color: transparent;
	background-position: -284px -520px;
	background-repeat: no-repeat;
}

.RadScheduler .rsModalWrapper .rsModalContent label
{
	display: block;
}

.RadScheduler .rsModalWrapper .rsModalContent input
{
	vertical-align: middle;
}

.RadScheduler .rsModalWrapper .rsModalButtons
{
	clear: both;
	padding: 26px 44px 26px 105px;
	overflow: hidden;
	zoom: 1;
}

.RadScheduler .rsModalWrapper .rsModalButtons a
{
	text-decoration: none;
	width: 73px;
	height: 21px;
	cursor: pointer;
	font-size: 0.92em;
	font-weight: normal;
	line-height: 21px;
	-moz-user-select: none;
	-khtml-user-select: none;
	border: 0;
	float: left;
	text-align: center;
	background-position: 0 -474px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadScheduler .rsModalWrapper .rsModalButtons a:hover
{
	background-position: -73px -474px;
}

.RadScheduler .rsModalWrapper .rsModalButtons .rsModalConfirm
{
	margin-right: 9px;
}

.RadScheduler .rsModalWrapper .rsModalIcon
{
	position: absolute;
	
	top: 55px;
	left: 45px;

	width: 32px;
	height: 32px;
	
	overflow: hidden;
	background-position: 0 -526px;
	background-repeat: no-repeat;
	background-color: transparent;
}

/* </modal dialogs> */

/* RadGlitch Fix */

.RadScheduler .rsInnerFix
{
	margin-right: 17px;
}

.RadScheduler .rsOverflowExpand .rsInnerFix
{
	margin-right: 0;
}

/* Vertical Header default width */

.RadScheduler .rsContent .rsSpacerCell div,
.RadScheduler .rsContent .rsAllDayHeader div,
.RadScheduler .rsContent .rsVerticalHeaderTable th,
.RadScheduler .rsContent .rsVerticalHeaderTable th div
{
	min-width: 52px;
}

* html .RadScheduler .rsContent .rsSpacerCell div, 
* html .RadScheduler .rsContent .rsAllDayHeader div,
* html .RadScheduler .rsContent .rsVerticalHeaderTable th,
* html .RadScheduler .rsContent .rsVerticalHeaderTable th div { width: 52px; } /*IE6 and IE7 quirks*/
* html .RadScheduler .rsContent .rsVerticalHeaderSized th { width: 100%; } /* Fix for sized headers */

*+html .RadScheduler .rsContent .rsSpacerCell div,
*+html .RadScheduler .rsContent .rsAllDayHeader div,
*+html .RadScheduler .rsContent .rsVerticalHeaderTable th div { width: 52px; } /*IE7*/

/* /Vertical Header default width */

/* Fix for client rendering wrappers in IE6 */

.RadScheduler .rsAdvancedInsertWrapper,
.RadScheduler .rsAdvancedEditWrapper
{
	position: relative;
}

/* /Fix for client rendering wrappers in IE6 */

table.RadCalendarTimeView td a
{
	text-transform: lowercase;
	text-align: right;
}

table.RadCalendarTimeView tr td
{
	padding-top: 1px; padding-bottom: 1px;
}



/* RadScheduler Vista skin */

/* common */
.RadScheduler_Vista,
.RadScheduler_Vista a,
.RadScheduler_Vista input,
.RadScheduler_Vista select,
.RadScheduler_Vista textarea
{
	color: #333;
	font: normal 12px/14px Arial, sans-serif;
}

.RadScheduler_Vista textarea
{
	background: #fff;
}

/* header */

/* header sprites */
.RadScheduler_Vista .rsHeader,
.RadScheduler_Vista .rsHeader ul a:hover,
.RadScheduler_Vista .rsHeader ul a:hover span,
.RadScheduler_Vista .rsHeader .rsSelected,
.RadScheduler_Vista .rsHeader .rsSelected em,
.RadScheduler_Vista .rsHeader .rsDatePickerActivator,
.RadScheduler_Vista .rsHeader .rsPrevDay,
.RadScheduler_Vista .rsHeader .rsNextDay
{
	background-image: url('images/rsSprites.png');
}

.RadScheduler_Vista .rsHeader
{
	border: 1px solid #131c24;
}

.RadScheduler_Vista .rsHeader,
.RadScheduler_Vista .rsHeader a,
.RadScheduler_Vista .rsHeader ul span,
.RadScheduler_Vista .rsHeader ul em
{
	color: #fff;
}

.RadScheduler_Vista .rsHeader .RadCalendar_Vista a
{
	color: #333;
}

/* content */

.RadScheduler_Vista .rsContent
{
	background: #fff;
}

/* <headers> */

.RadScheduler_Vista .rsHorizontalHeaderTable
{
	color: #333;
	background: #e4e4e4;
}

.RadScheduler_Vista .rsHorizontalHeaderWrapper {
	border-color: #a7bac5;
	background: #e0e5f5;
}

.RadScheduler_Vista .rsSpacerCell,
.RadScheduler_Vista .rsAllDayHeader,
.RadScheduler_Vista .rsVerticalHeaderWrapper,
.RadScheduler_Vista .rsVerticalHeaderTable
{
	background: #eff7fc;
}

.RadScheduler_Vista .rsVerticalHeaderTable th
{
	border-color: #868686 #cfe4f0;
	color: #333;
}

.RadScheduler_Vista .rsHorizontalHeaderTable th
{
	border-color: #a7bac5;
	background-color: #A6D9F4;
	background-image: url('images/rsSprites.png');
}

.RadScheduler_Vista .rsVerticalHeaderTable th
{
	border-color: #eff7fc #cfe4f0;
}

.RadScheduler_Vista .rsVerticalHeaderTable .rsAlt th
{
	border-color: #96d9f9 #cfe4f0;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_Vista .rsAllDayRow
{
	background: #e0e5f5;
}

.RadScheduler_Vista .rsSpacerCell,
.RadScheduler_Vista .rsAllDayHeader,
.RadScheduler_Vista .rsVerticalHeaderTable .rsAllDayHeader
{
	border-color: #a7bac5 #cfe4f0;
}

.RadScheduler_Vista .rsAllDayRow td,
.RadScheduler_Vista .rsContentTable .rsAllDayRow td
{
	border-color: #a7bac5;
	border-style: solid;
}

.RadScheduler_Vista .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #A7BAC5;
}

.RadScheduler_Vista .rsSpacerCell,
.RadScheduler_Vista .rsContent .rsAllDayHeader
{
	border-bottom-color: #96d9f9;
}

/* </all-day-row> */

.RadScheduler_Vista .rsContent,
.RadScheduler_Vista .rsTopWrap .rsFooter
{
	border: 1px solid #9cb6c5;
	border-top: 0;
}

.RadScheduler_Vista .rsContentTable td
{
	border-color: #e8eaec #e8eaec;
	border-bottom-style: dotted;
}

.RadScheduler_Vista .rsContentTable .rsAlt td
{
	border-color: #c7cbd1 #e8eaec;
	border-bottom-style: solid;
}

.RadScheduler_Vista .rsMonthView .rsOtherMonth
{
	background-color: #F9F9F9;
}

/* <appointments> */
.RadScheduler_Vista .rsApt .rsArrowTop,
.RadScheduler_Vista .rsApt .rsArrowBottom,
.RadScheduler_Vista .rsApt .rsArrowLeft,
.RadScheduler_Vista .rsApt .rsArrowRight,
.RadScheduler_Vista .rsApt .rsAptDelete,
.RadScheduler_Vista .rsApt .rsAptResize,
.RadScheduler_Vista .rsApt .rsAptRecurrence,
.RadScheduler_Vista .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url('images/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_Vista .rsAptCreate,
.RadScheduler_Vista .rsMonthView .rsAptCreate
{
	background-color: #d6effc;
	background-image: url('images/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_Vista .rsAptCreateRow2,
.RadScheduler_Vista .rsMonthView .rsAptCreateRow2
{
	background-color: #d6effc;
	background-image: url('images/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_Vista .rsSunCol,
.RadScheduler_Vista .rsSatCol
{
	background-color: #f5fcff;
}

.RadScheduler_Vista .rsAptCreateRow3,
.RadScheduler_Vista .rsMonthView .rsAptCreateRow3,
.RadScheduler_Vista .rsAptCreateRow4,
.RadScheduler_Vista .rsMonthView .rsAptCreateRow4,
.RadScheduler_Vista .rsAptCreateRow5,
.RadScheduler_Vista .rsMonthView .rsAptCreateRow5
{
	background: #d6effc;
}

.RadScheduler_Vista .rsFullTime 
{
	color: #000;
}

.RadScheduler_Vista .rsAptContent,
.RadScheduler_Vista .rsAptIn,
.RadScheduler_Vista .rsAptMid,
.RadScheduler_Vista .rsAptOut
{
	background-image: url('images/rsAppointmentBg.png');
}

/* </appointments> */

/* <footer> */

.RadScheduler_Vista div.rsFooter
{
	background-color: #f0fafd;
	background-image: url('images/rsSprites.png');
	background-repeat: repeat-x;
	border-color: #a2a2a2;
}

.RadScheduler_Vista div.rsFooter a
{
	color: #06c;
	background-color: transparent;
	background-image: url('images/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_Vista div.rsFooter a:hover
{
	color: #28E;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_Vista .rsEditOptions a,
.RadScheduler_Vista .rsAptEditResizeHandle,
.RadScheduler_Vista .rsAptEditFormWrapper
{
	background-image: url('images/rsSprites.png');
}

.RadScheduler_Vista .rsAptEditFormOuter, /* top */
.RadScheduler_Vista .rsAptEditFormInner  /* bottom */
{
	background-image: url('images/rsInlineEditHSprite.png');
}

.RadScheduler_Vista .rsAptEditFormMiddle, /* left */
.RadScheduler_Vista .rsAptEditFormMiddle2 /* right */
{
	background-image: url('images/rsInlineEditVSprite.png');
}

.RadScheduler_Vista .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #9cb6c5;
	background: #fff;
}

.RadScheduler_Vista .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background: #fff;
}

.RadScheduler_Vista .rsAptEditFormWrapper .rsEditOptions 
{
	background: #dfe4f5;
}

/* <inline edit form template> */

.RadScheduler_Vista .rsAptEditFormWrapper .rsTemplateWrapper 
{
	background: #DFE4F5;
}

/* </inline edit form template> */

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_Vista .rsAdvancedEdit .rsAdvContentWrapper
{
	background: #f0f0f0;
	border: 1px solid #9cb6c5;
	border-top-color: #5C5C5C;
}

/* <xref input skins> */

.RadScheduler_Vista .rsAdvancedEdit .rsAdvInput,
.RadScheduler_Vista .rsAdvancedEdit select,
.RadScheduler_Vista .rsAdvancedEdit .textareaWrapper
{
	border-color: #ABADB3 #DBDFE6 #DBDFE6 #ABADB3;
}

.RadScheduler_Vista .rsAdvancedEdit .rsInvalid textarea
{
	background-image: url('images/input.sprite.gif');
}

.RadScheduler_Vista .rsAdvancedEdit .textareaWrapper
{
	background: #fff;
}

.RadScheduler_Vista .rsAdvancedEdit .rsInvalid
{
	border-color: #F32800;
	color: #F32800;
}
/* </xref input skins> */

.RadScheduler_Vista .rsAdvancedEdit h2,
.RadScheduler_Vista .rsAdvancedEdit h3
{
	color: #567db0;
}

.RadScheduler_Vista .rsAdvancedEdit h2
{
	border-bottom: 1px solid #CCC;
}

.RadScheduler_Vista .rsAdvancedEdit h2 span
{
	background: #f0f0f0;
}

.RadScheduler_Vista .rsAdvancedEdit .rsAdvRecurrenceFreq
{
	border-right: 1px solid #CCC;
}

.RadScheduler_Vista .rsAdvancedEdit div.rsAdvPatternPanel
{
	border-left: 0;
}

.RadScheduler_Vista .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #CCC;
}

.RadScheduler_Vista .rsAdvancedEdit div.rsAdvancedSubmitArea a 
{
	color: #333;
	background-image: url('images/rsSprites.png');
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_Vista .rsAdvancedEdit .rsAdvEditClose,
.RadScheduler_Vista .rsTimePick .RadInput_Vista input.riEnabled,
.RadScheduler_Vista .rsTimePick .RadInput_Vista input.riHover,
.RadScheduler_Vista .rsTimePick .RadInput_Vista input.riFocused,
.RadScheduler_Vista .rsTimePick .RadInput_Vista input.riEmpty
{
	background-image: url('images/rsSprites.png');
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_Vista .rsAdvancedEdit .rsAdvTitle h1
{
	color:#000;
}

.RadScheduler_Vista .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_Vista .rsModalWrapper .rsModalOuter
{
	border-color: #000;
	background-image: url('images/rsModalOuterBg.png');
}

.RadScheduler_Vista .rsAdvancedEdit .rsAdvInnerTitle,
.RadScheduler_Vista .rsModalWrapper .rsModalOuterTitle
{
	background-image: url('images/rsModalOuterTitleBg.png');
}

.RadScheduler_Vista .rsModalWrapper .rsModalWindowClose
{
	background-image: url('images/rsSprites.png');
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
}

.RadScheduler_Vista .rsModalWrapper .rsModalWindowClose:hover
{
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.RadScheduler_Vista .rsModalWrapper .rsModalTitle
{
	color: #000;
	background-image: url('images/rsSprites.png');
}

.RadScheduler_Vista .rsModalWrapper .rsModalInner
{
	border-color: #000;
	background: #fff;
}

.RadScheduler_Vista .rsModalWrapper .rsModalIcon,
.RadScheduler_Vista .rsModalWrapper .rsModalButtons a
{
	background-image: url('images/rsSprites.png');
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_Vista .rsModalWrapper .rsModalButtons a,
.RadScheduler_Vista .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	color: #333;
}

/* </modal dialogs> */



/* Telerik RadAjaxLoadingPanel Default Skin */

.RadAjax_Default .raDiv
{
	background-image:url('images/Loading.gif');
}

.RadAjax_Default .raColor
{
	background-color:#fff;
}

.RadAjax_Default .raTransp
{
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}




/*Telerik RadCalendar Vista skin*/

table.RadCalendar_Vista
{
	border-collapse:separate;
	border:0;
	background:#fff;
	color:#333;
	font:12px arial,sans-serif;
}

/*titlebar*/

.RadCalendar_Vista .rcTitlebar
{
	width:100%;
	border:1px solid #a7bac5;
	border-bottom-color:#3c7fb1;
	padding:0;
	background:#a6d9f4 0 -800px repeat-x url('images/calendar/sprite.gif');
	color:#000;
}

.RadCalendar_Vista .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/18px arial,sans-serif;
}

.RadCalendar_Vista .rcTitlebar td
{
	border:0;
	border-bottom:1px solid #e5f4fd;
	padding:2px 0 3px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Vista .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Vista .rcTitlebar .rcTitle:hover
{
	color:#06c;
}

.RadCalendar_Vista .rcTitlebar .rcPrev,
.RadCalendar_Vista .rcTitlebar .rcNext,
.RadCalendar_Vista .rcTitlebar .rcFastPrev,
.RadCalendar_Vista .rcTitlebar .rcFastNext
{
	display:block;
	width:15px;
	height:14px;
	overflow:hidden;
	margin:0 3px;
	background:transparent no-repeat url('images/calendar/sprite.gif');
	text-indent:-1111px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Vista .rcTitlebar .rcFastPrev
{
	margin-left:5px;
	background-position:1px 2px;
}

.RadCalendar_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -48px;
}

.RadCalendar_Vista .rcTitlebar .rcPrev
{
	background-position:3px -98px;
}

.RadCalendar_Vista .rcTitlebar .rcPrev:hover
{
	background-position:3px -148px;
}

.RadCalendar_Vista .rcTitlebar .rcNext
{
	background-position:4px -198px;
}

.RadCalendar_Vista .rcTitlebar .rcNext:hover
{
	background-position:4px -248px;
}

.RadCalendar_Vista .rcTitlebar .rcFastNext
{
	margin-right:5px;
	background-position:1px -298px;
}

.RadCalendar_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -348px;
}

.RadCalendar_Vista .rcMain
{
	width:100%;
	border:1px solid #a7bac5;
	border-top:0;
	padding:0;
}

.RadCalendar_Vista .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:100%;
	font:12px/20px arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Vista .rcHeader,
.RadCalendar_Vista .rcFooter
{
	border:1px solid #a7bac5;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Vista .rcRow th,
.RadCalendar_Vista .rcWeek th
{
	border:0;
	font-weight:normal;
	text-align:center;
	cursor:default;
}

.RadCalendar_Vista .rcWeek th
{
	padding:2px 0 1px 0;
	border-bottom:1px solid #e0e0e0;
}

.RadCalendar_Vista .rcRow th
{
	width:28px;
	padding:0;
	color:#777;
}

.RadCalendar_Vista .rcWeek .rcViewSel
{
	border-bottom-color:#fff;
}

.RadCalendar_Vista .rcViewSel,
.RadCalendar_Vista .rcRow th
{
	background:#e7ebf6;
}

.RadCalendar_Vista .rcRow th,
.RadCalendar_Vista .rcRow td
{
	vertical-align:middle;
}

/*date cells*/

.RadCalendar_Vista .rcRow td
{
	width:26px;
	border:0;
	padding:0 0 1px 1px;
	text-align:right;
}

.RadCalendar_Vista .rcMain .rcRow a,
.RadCalendar_Vista .rcMain .rcRow span
{
	display:block;
	width:20px;
	padding:0 6px 0 0;
	text-decoration:none;
	color:#333;
}

.RadCalendar_Vista .rcMain .rcWeekend a
{
	color:#555;
}

.RadCalendar_Vista .rcMain .rcRow .rcToday a
{
	background:100% -1400px no-repeat url('images/calendar/sprite.gif');
}

.RadCalendar_Vista .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_Vista .rcMain .rcOutOfRange span
{
	color:#777;
	cursor:default;
}

.RadCalendar_Vista .rcMain .rcRow .rcHover a
{
	background:100% -1200px no-repeat url('images/calendar/sprite.gif');
	color:#06c;
}

.RadCalendar_Vista .rcMain .rcRow .rcSelected a
{
	background:100% -1300px no-repeat url('images/calendar/sprite.gif');
	color:#06c;
}

/*multimonth view*/

table.RadCalendarMultiView_Vista
{
	width:auto;
	border:0;
}

.RadCalendarMultiView_Vista .rcTitlebar
{
	border:1px solid #131c24;
	border-bottom-color:#052d41;
	padding:0;
	background:#4e96aa 0 -999px repeat-x url('images/calendar/sprite.gif');
	color:#fff;
}

.RadCalendarMultiView_Vista .rcTitlebar table
{
	border:1px solid;
	border-color:#b2ccd8 #87b2c3 #95c3ce;
	line-height:24px;
}

.RadCalendarMultiView_Vista .rcTitlebar td
{
	border:0;
	padding-top:1px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcTitle:hover
{
	color:#fff;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastPrev
{
	height:18px;
	background-position:1px -396px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -446px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcPrev
{
	height:18px;
	background-position:3px -496px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcPrev:hover
{
	background-position:3px -546px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcNext
{
	height:18px;
	background-position:3px -596px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcNext:hover
{
	background-position:3px -646px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastNext
{
	height:18px;
	background-position:1px -696px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -746px;
}

.RadCalendarMultiView_Vista .rcMain
{
	border-color:#9cb6c5;
}

.RadCalendarMultiView_Vista .rcCalendar
{
	border:1px solid #a7bac5;
	padding:0;
}

.RadCalendarMultiView_Vista .rcCalendar .rcMainTable
{
	width:210px;
}

.RadCalendarMultiView_Vista .rcMain .rcTitle
{
	border:0;
	border-bottom:1px solid #3c7fb1;
	padding:3px 0 4px;
	background:#a6d9f4 0 -800px repeat-x url('images/calendar/sprite.gif');
	color:#000;
	text-align:center;
}

/*month view*/

table.RadCalendarMonthView_Vista
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px arial,sans-serif;
	color:#333;
}

table.RadCalendarMonthView_Vista td
{
	border:0;
	padding:5px 3px 0;
}

.RadCalendarMonthView_Vista #rcMView_Feb,
.RadCalendarMonthView_Vista #rcMView_Apr,
.RadCalendarMonthView_Vista #rcMView_Jun,
.RadCalendarMonthView_Vista #rcMView_Aug,
.RadCalendarMonthView_Vista #rcMView_Oct,
.RadCalendarMonthView_Vista #rcMView_Dec
{
	border-right:1px solid #e0e0e0;
}

.RadCalendarMonthView_Vista a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Vista .rcHover a
{
	border:1px solid #daf2fc;
	padding:1px 3px;
}

.RadCalendarMonthView_Vista .rcSelected a
{
	border:1px solid #06c;
	padding:1px 3px;
	color:#000;
}

.RadCalendarMonthView_Vista #rcMView_PrevY a,
.RadCalendarMonthView_Vista #rcMView_NextY a
{
	display:block;
	width:15px;
	height:14px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('images/calendar/sprite.gif');
	text-indent:-1111px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Vista #rcMView_PrevY a
{
	background-position:6px 4px;
}

.RadCalendarMonthView_Vista #rcMView_NextY a
{
	background-position:6px -296px;
}

.RadCalendarMonthView_Vista #rcMView_PrevY a:hover,
.RadCalendarMonthView_Vista #rcMView_NextY a:hover
{
	background:transparent no-repeat url('images/calendar/animations.gif');
}

.RadCalendarMonthView_Vista #rcMView_PrevY a:hover
{
	background-position:5px 6px;
}

.RadCalendarMonthView_Vista #rcMView_NextY a:hover
{
	background-position:-49px 6px;
}

.RadCalendarMonthView_Vista .rcButtons
{
	border:0;
	padding:4px 7px 6px;
	text-align:center;
}

.RadCalendarMonthView_Vista input
{
	border:0;
	margin:0 3px;
	padding:1px 0 0;
	background:0 100% repeat-x url('images/calendar/sprite.gif');
	color:#06c;
	font:12px arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Vista #rcMView_Today
{
	margin-right:20px;
}

/*time view*/

table.RadCalendarTimeView_Vista
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px arial,sans-serif;
	color:#333;
}

.RadCalendarTimeView_Vista th
{
	border:0;
	border-bottom:1px solid #3c7fb1;
	padding:3px 0;
	background:#a6d9f4 0 -800px repeat-x url('images/calendar/sprite.gif');
	color:#000;
	line-height:18px;
	font-weight:normal;
	text-align:center;
	cursor:default;
}

table.RadCalendarTimeView_Vista td
{
	border:0;
	border-left:1px solid #e0e0e0;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Vista td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Vista a
{
	display:block;
	width:59px;
	padding:0 6px 0 0;
	line-height:17px;
	text-align:right;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Vista td.rcHover a
{
	background:100% -1800px no-repeat url('images/calendar/sprite.gif');
	color:#06c;
}

.RadCalendarTimeView_Vista td.rcSelected a
{

}

.RadCalendarTimeView_Vista .rcFooter
{
	border-top:1px solid #e0e0e0;
	padding:0;
}

/*pickers*/

.RadPicker_Vista,
.RadPicker_Vista td
{
	vertical-align:middle;
}

.RadPicker_Vista .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Vista table.rcTable,
.RadPicker_Vista table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Vista table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Vista td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Vista td a{position:static}/*IE6*/
*+html .RadPicker_Vista td a{position:static}/*IE7*/

.RadPicker_Vista .rcCalPopup,
.RadPicker_Vista .rcTimePopup
{
	display:block;
	width:22px;
	height:22px;
	overflow:hidden;
	background:no-repeat url('images/calendar/sprite.gif');
	text-indent:-1111px;
	text-align:center;
}

.RadPicker_Vista .rcCalPopup,
.RadPicker_Vista .rcDisabled.rcCalPopup:hover
{
	background-position:0 -2000px;
}

.RadPicker_Vista .rcCalPopup:hover,
.RadPicker_Vista .rcCalPopup:focus,
.RadPicker_Vista .rcCalPopup:active
{
	background-position:0 -2050px;
}

.RadPicker_Vista .rcTimePopup,
.RadPicker_Vista .rcDisabled.rcTimePopup:hover
{
	background-position:0 -2100px;
}

.RadPicker_Vista .rcTimePopup:hover,
.RadPicker_Vista .rcTimePopup:focus,
.RadPicker_Vista .rcTimePopup:active
{
	background-position:0 -2150px;
}

.RadPicker_Vista .rcDisabled,
.RadCalendarMonthView_Vista .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Vista .rcTitlebar .rcFastPrev
{
	background-position:1px -298px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -348px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcPrev
{
	background-position:4px -198px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcPrev:hover
{
	background-position:4px -248px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcNext
{
	background-position:3px -98px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcNext:hover
{
	background-position:3px -148px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcFastNext
{
	background-position:1px 2px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -48px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastPrev
{
	background-position:1px -696px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -746px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcPrev
{
	background-position:3px -596px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcPrev:hover
{
	background-position:3px -646px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcNext
{
	background-position:3px -496px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcNext:hover
{
	background-position:3px -546px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastNext
{
	background-position:1px -396px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -446px;
}



.RadScheduler .rsHeader h2 { color:#FFF; }
span.description { display:none; }
div.ek_ajaxloader { background: url('../../images/application/ajax-loader_circle_lg.gif') no-repeat center center; background-color: #FFFFFF; cursor:wait; height:100%; width: 100%; top:0; left: 0; margin: 0; padding: 0; opacity: 0.6; position: fixed; z-index: 50000; }


.RadScheduler_Vista .rsAdvancedEdit .rsAdvTitle h1
{
	background: none;
	color: #ffffff !important;
	padding: 4px 0 2px 0;
	font-size: 12px;
}

.RadScheduler_Vista .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_Vista .rsModalWrapper .rsModalOuter h1.rsModalTitle
{
	color: #FFF;
	background: #414141 url('../images/UI/title-bar-bg.gif') repeat-x center;
	font-weight: normal !important;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding: 4px 8px 2px 8px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-top: 1px;
}

.RadScheduler_Vista .rsAdvancedEdit .rsAdvTitle .rsAdvInnerTitle .rsAdvEditClose{
	display: none;
}
.RadScheduler .rsAdvancedEdit .rsAdvOptionsScroll{
	padding: 0;
}

#Event div.ektron-aloha div.aloha-editable ul {list-style: disc inside;}