﻿@charset "UTF-8";

@-webkit-keyframes uxSiteAppDesignGlow {
  0% {
    -webkit-box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5);
  }
  100% {
    -webkit-box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5), inset 1px 3px 10px 0 rgba(231, 174, 78, 0.8);
  }
}
@-moz-keyframes uxSiteAppDesignGlow {
  0% {
    -moz-box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5);
  }
  100% {
    -moz-box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5), inset 1px 3px 10px 0 rgba(231, 174, 78, 0.8); 
    background-color: #fffcd6;
  }
}
@-o-keyframes uxSiteAppDesignGlow {
  0% {
    box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5);
  }
  100% {
    box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5), inset 1px 3px 10px 0 rgba(231, 174, 78, 0.8);
    background-color: #fffcd6;
  }
}
@keyframes uxSiteAppDesignGlow {
  0% {
    box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5);
  }
  100% {
    box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5), inset 1px 3px 10px 0 rgba(231, 174, 78, 0.8);
    background-color: #fffcd6;
  }
}

/* UX Toolbar controls
----------------------------------*/
.ektron-ux .applicationControl.ux-switch.editModeToggle {
    /*ignore jslint start*/
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    /*ignore jslint end*/
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; /*Defensive rule against Foundation*/
}
.ektron-ux .applicationControl.ux-buttonset.editModesButtonSet:after, .ektron-ux .applicationControl.buttonset.editModesButtonSet label:first-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.ektron-ux .applicationControl.ux-buttonset.designGlow label:last-child {
	-o-animation-direction: alternate;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-o-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-o-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-o-animation-name: uxSiteAppDesignGlow;
	-webkit-animation-name: uxSiteAppDesignGlow;
	animation-name: uxSiteAppDesignGlow;
	-o-animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
    box-shadow: inset 1px 1px 5px 0 rgba(165, 165, 165, .5), inset 1px 3px 10px 0 rgba(231, 174, 78, 0.8)\9; /* IE9 Only */
    background-color: #fffcd6\9; /* IE9 Only */
}

.ux-launcher-visible .ux-app-siteApp-dialogs {
    display: none;
}

/* Editor's Menu
----------------------------------*/
body.ux-app-siteApp-contentMode [data-ektron-editors-menu] {
	/*ignore jslint start*/
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
	/*ignore jslint end*/
	position: relative;
    min-height: 64px;
} 

body.ux-app-siteApp-contentMode [data-ektron-editors-menu]:after {
    content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1; 
    box-shadow: 
        0 0 0 4px rgba(231, 174, 78, 0.25),
        inset 0 0 0 1px rgba(231, 174, 78, 0.4);
    /*ignore jslint start*/
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -o-transition: all linear .1s;
    transition: all linear .1s;
    /*ignore jslint end*/
}

body.ux-app-siteApp-contentMode [data-ektron-editors-menu]:hover:after {
    box-shadow: 
        0 0 0 4px rgba(43, 43, 43, 0.9),
        inset 0 0 0 1px rgba(43, 43, 43, 0.9); 
}

body.ux-app-siteApp-contentMode [data-ektron-editors-menu].ux-app-siteApp-selectedContent:after {
    box-shadow: 
        0 0 0 4px rgba(60, 124, 169, 0.95), 
        inset 0 0 0 1px rgba(60, 124, 169, 0.95);
}

[data-ektron-editors-menu] .ux-app-siteApp-contentHeaderWrapper {
	position: relative;
}

[data-ektron-editors-menu] .ux-app-siteApp-contentHeader {
	font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-variant: normal;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	left: 1px;
	right: 1px;
    top: 1px;
	background: rgba(43, 43, 43, 0.9);
	color: #fff;
	margin: 0;
	padding: 1px 0 7px 10px;
	display: none;
	opacity: 0;
	/*ignore jslint start*/
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	/*ignore jslint end*/
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	/*ignore jslint start*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -o-transition: all linear .1s;
    transition: all linear .1s;
    /*ignore jslint end*/
	z-index: 2;
}

body.ux-app-siteApp-contentMode [data-ektron-editors-menu]:hover .ux-app-siteApp-contentHeader {
	display: block;
	opacity: 1;
}

body.ux-app-siteApp-contentMode [data-ektron-editors-menu].ux-app-siteApp-selectedContent .ux-app-siteApp-contentHeader {
	display: block;
	opacity: 1;
	background: rgba(60, 124, 169, 0.95);
}

[data-ektron-editors-menu] .contentHeaderMenuLink {
	position: absolute;
	right: -5px;
	top: -5px;
	bottom: 0;
	cursor: pointer;
	display: inline-block;
	padding: 7px 10px 0;
	/*ignore jslint start*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*ignore jslint end*/
}

[data-ektron-editors-menu] .contentHeaderMenuLink:hover {
	/*ignore jslint start*/
	background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.35) 22%, rgba(0,0,0,0.11) 70%, rgba(0,0,0,0.01) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(22%,rgba(0,0,0,0.35)), color-stop(70%,rgba(0,0,0,0.11)), color-stop(100%,rgba(0,0,0,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* IE10+ */
	/*ignore jslint end*/
	background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* W3C */
}

[data-ektron-editors-menu].ux-app-siteApp-selectedContent .contentHeaderMenuLink {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.17) 0%, rgba(0,0,0,0.06) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.17)), color-stop(100%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.17) 0%,rgba(0,0,0,0.06) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.17) 0%,rgba(0,0,0,0.06) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.17) 0%,rgba(0,0,0,0.06) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.17) 0%,rgba(0,0,0,0.06) 100%); /* W3C */	
}

/* Dialog Overrides
----------------------------------*/
.ektron-ux-dialog.ui-dialog.ux-app-siteApp-dialog {
	position: fixed;
}

.ektron-ux-dialog.ui-dialog.ux-app-siteApp-dialog .ui-dialog-content{
    background: none;
    padding: 0;
}

/* edit widget dialog */
.ektron-ux-dialog.ui-dialog.ux-app-siteApp-dialog #uxPageBuilderEditableWidget.ui-dialog-content {
	background: #fff;
	padding: 1em;
	color: #464646;
}

/* fixes an issue when bootstrap is loaded to the page and makes all elements' box-sizing: border-box, which results in widget icons getting cropped */
.ux-app-siteApp-dialogs *,
.ux-app-siteApp-dialogs *:before,
.ux-app-siteApp-dialogs *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


/* Accordion Overrides
----------------------------------*/
div.ux-siteApp-designAccordion {
    height:100%;
    overflow:hidden;
}
div.ux-siteApp-designAccordion > div {
    height:100%;
}

.ux-siteApp-designAccordion .ui-accordion .ui-accordion-header:first-child{
    border-radius: 0;
}

.ux-siteApp-designAccordion .ui-accordion .ui-accordion-header:last-child {
    border-bottom: none;
}

.ux-siteApp-designAccordion .ui-accordion .ui-accordion-header:last-of-type {
    border-bottom:none;
    border-radius:0 0 4px 4px;
}

/* LinkList
----------------------------------*/
.ux-app-siteApp-linkList {
	list-style-type: none;
	margin: 0 0 3px 0; 
	padding: 0;
}

.ux-siteApp-pageBuilderLinkList > .ux-app-siteApp-linkList > li {
    margin: 10px 0;
    border-radius: 2px;
    overflow: hidden;
}

.ux-app-siteApp-linkList li h4 {
    font-size: 10px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 2px 8px;
    color: #ffffff;
    -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    cursor: default;
}

.ux-app-siteApp-linkList li h4:after{
    content:"";
    height: 1px;
    display: inline-block;
    background-color: rgba(255,255,255,0.25);
    position: absolute;
    width: 1000%;
    margin-left: 13px;
    top: 48%;
}

.ux-app-siteApp-linkList li li h4{
    margin-top: 15px;
}

.ux-app-siteApp-linkList li a, .ux-app-siteApp-linkList li span {
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 7px;
	margin: 0;
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	border: solid 2px transparent;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
    background: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 4px 8px -6px rgba(0,0,0,0);
	box-shadow: 0 4px 8px -6px rgba(0,0,0,0);
    -webkit-transition: all linear .15s;
	-moz-transition: all linear .15s;
	-o-transition: all linear .15s;
	transition: all linear .15s;
}

.ux-app-siteApp-linkList ul {
	margin: 0 30px;
}

.ux-app-siteApp-linkList li span {
	cursor: default;
	opacity: 0.4;
    color: #ffffff;
}

.ux-app-siteApp-linkList li a:hover {
	background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px -6px rgba(0,0,0,0.1);
	box-shadow: 0 4px 8px -6px rgba(0,0,0,0.1);
}

.ux-app-siteApp-linkList li a:focus,
.ux-app-siteApp-linkList li a:active {
	background: rgba(0, 0, 0, 0.3);
}

.loadingScreenWindow {
    background-color:#ccc;
}

.loadingScreenWindow {
    background-image: url('../../../vendor/ektron/ux/img/busy.gif');
    background-size: 205px 205px;
    background-color:#ccc;
    width:200px;
    height:200px;
}

.loadingScreenWindow .ui-dialog-titlebar {
    display: none;
}