﻿@charset "UTF-8";
/* PageBuilder Dialog's Accordion
----------------------------------*/
.ux-app-siteApp-dialog .ux-siteApp-designAccordion div h3{
    margin-right: 0px !important;
}

.ux-app-siteApp-dialog .ux-siteApp-designAccordion .ui-accordion-content .ux-siteApp-pageBuilderWidgetList {
    padding: 0 0 10px;
    position: relative;
}

.ux-app-siteApp-dialog .ux-siteApp-designAccordion .ui-accordion-content .ux-siteApp-pageBuilderWidgetList:before {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    top: 0;
    height: 11px;
    z-index: 1;
    /*ignore jslint start*/
    background: -moz-linear-gradient(top, rgba(117,117,117,1) 0%, rgba(117,117,117,0.94) 9%, rgba(117,117,117,0.77) 27%, rgba(117,117,117,0.33) 64%, rgba(117,117,117,0.13) 82%, rgba(117,117,117,0.07) 91%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,117,117,1)), color-stop(9%,rgba(117,117,117,0.94)), color-stop(27%,rgba(117,117,117,0.77)), color-stop(64%,rgba(117,117,117,0.33)), color-stop(82%,rgba(117,117,117,0.13)), color-stop(91%,rgba(117,117,117,0.07)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(117,117,117,1) 0%,rgba(117,117,117,0.94) 9%,rgba(117,117,117,0.77) 27%,rgba(117,117,117,0.33) 64%,rgba(117,117,117,0.13) 82%,rgba(117,117,117,0.07) 91%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(117,117,117,1) 0%,rgba(117,117,117,0.94) 9%,rgba(117,117,117,0.77) 27%,rgba(117,117,117,0.33) 64%,rgba(117,117,117,0.13) 82%,rgba(117,117,117,0.07) 91%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(117,117,117,1) 0%,rgba(117,117,117,0.94) 9%,rgba(117,117,117,0.77) 27%,rgba(117,117,117,0.33) 64%,rgba(117,117,117,0.13) 82%,rgba(117,117,117,0.07) 91%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(117,117,117,1) 0%,rgba(117,117,117,0.94) 9%,rgba(117,117,117,0.77) 27%,rgba(117,117,117,0.33) 64%,rgba(117,117,117,0.13) 82%,rgba(117,117,117,0.07) 91%,rgba(255,255,255,0) 100%); /* W3C */
    /*ignore jslint end*/
}

.ux-app-siteApp-dialog .ux-siteApp-designAccordion .ui-accordion-content .ux-siteApp-pageBuilderWidgetList:after {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: 10px;
    height: 11px;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(117,117,117,0.07) 9%, rgba(117,117,117,0.13) 18%, rgba(117,117,117,0.33) 36%, rgba(117,117,117,0.77) 73%, rgba(117,117,117,0.94) 91%, rgba(117,117,117,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(9%,rgba(117,117,117,0.07)), color-stop(18%,rgba(117,117,117,0.13)), color-stop(36%,rgba(117,117,117,0.33)), color-stop(73%,rgba(117,117,117,0.77)), color-stop(91%,rgba(117,117,117,0.94)), color-stop(100%,rgba(117,117,117,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(117,117,117,0.07) 9%,rgba(117,117,117,0.13) 18%,rgba(117,117,117,0.33) 36%,rgba(117,117,117,0.77) 73%,rgba(117,117,117,0.94) 91%,rgba(117,117,117,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(117,117,117,0.07) 9%,rgba(117,117,117,0.13) 18%,rgba(117,117,117,0.33) 36%,rgba(117,117,117,0.77) 73%,rgba(117,117,117,0.94) 91%,rgba(117,117,117,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(117,117,117,0.07) 9%,rgba(117,117,117,0.13) 18%,rgba(117,117,117,0.33) 36%,rgba(117,117,117,0.77) 73%,rgba(117,117,117,0.94) 91%,rgba(117,117,117,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(117,117,117,0.07) 9%,rgba(117,117,117,0.13) 18%,rgba(117,117,117,0.33) 36%,rgba(117,117,117,0.77) 73%,rgba(117,117,117,0.94) 91%,rgba(117,117,117,1) 100%); /* W3C */
}

/* PageBuilder Properties Grid
----------------------------------*/
.ux-app-siteApp-dialog .ux-siteApp-pageBuilderPropertiesGrid {
    width: 100%;
    padding: 10px 0 0;
}

.ux-siteApp-pageBuilderPropertiesGrid table tr:nth-of-type(2n) {
    background: transparent; /* CSS Defense against Foundation */
}

.ux-siteApp-pageBuilderPropertiesGrid td {
    vertical-align: top;
    font-size: 11px;
    width: 50%;
    -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    color: #ffffff;
}

.ux-siteApp-pageBuilderPropertiesGrid strong {
    font-size: 10px;
    font-weight: normal;
    margin: 0 10px 10px 0;
    padding: 2px 8px;
    color: #ffffff;
    -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: default;
}

/* PageBuilder Widget List
----------------------------------*/
.ux-siteApp-pageBuilderWidgetList > .widgetSearchBox {
    width:auto;
    padding: 10px;
}

.ux-siteApp-pageBuilderWidgetList > .widgetSearchBox > input {
    width:100%;
}

.ux-siteApp-pageBuilderWidgetList {
    padding: 0 0 0 6px;
}

.ux-siteApp-pageBuilderWidgetList > ul {
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;
    overflow: hidden;
}

.ux-siteApp-pageBuilderWidgetList > ul:after {
    clear: both;
    content: "";
    display: table;
}

.ux-siteApp-pageBuilderWidgetList > ul li.widgetToken {
    min-width: 150px;
    width: 150px;
    overflow: hidden;
    min-height: 60px;
    height: 60px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    background: #fff;
    color: #515151;
    /*ignore jslint start*/
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    /*ignore jslint end*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    position: relative;
    padding: 3px 6px;
    opacity: 0.65;
    /*ignore jslint start*/
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    /*ignore jslint end*/
}

.ux-siteApp-pageBuilderWidgetList > ul li.widgetToken:after {
    clear: both;
    content: "";
    display: table;
}

.ux-siteApp-pageBuilderWidgetList > ul li.widgetToken:hover {
    opacity: 1;
}

.ux-siteApp-pageBuilderWidgetList > ul li.widgetToken.selected {
    -webkit-box-shadow: 0px 0px 6px 3px rgba(171, 197, 227, 1);
    box-shadow: 0px 0px 6px 3px rgba(171, 197, 227, 1);
    opacity: 1;
    color: #4f89b1;
}

.ux-siteApp-pageBuilderWidgetList > ul li.widgetToken .widgetIcon {
    width: 48px;
    height: 48px;
    margin: 5px 0;
    border: solid 2px transparent;
    border-radius: 4px 0 0 4px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
}

.ux-siteApp-pageBuilderWidgetList > ul li.widgetToken .widgetName {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 60px;
    max-height: 60px;
    min-height: 60px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

/* PageBuilder View Mode
----------------------------------*/

/*** dropzone ***/
/*** This rule sets all dropzones' margin/padding to zero, so a client site won't add unwanted margin/padding to our dropzones.  
     Also, it makes sure margin/padding set to zero is not set for a dropzone with a bootstrap class of "row" on it. ***/
[data-ux-pagebuilder-dropzone-data],
.container [data-ux-pagebuilder-dropzone-data]:not(.row[data-ux-pagebuilder-dropzone-data]) {
    margin: 0;
    padding: 0;
}

/*** clearfix the dropzone ***/
[data-ux-pagebuilder-dropzone-data]:after {
    content: "";
    display: table;
    clear: both;
}

/*** column ***/
[data-ux-pagebuilder="Column"]:not(.ux-siteApp-pageBuilderCssFramework [data-ux-pagebuilder="Column"]) {
	float: left;
	margin: 0;
	padding: 0;
}

[data-ux-pagebuilder="Column"] {
    box-shadow: 0 0 0 4px transparent;
    /*ignore jslint start*/
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    /*ignore jslint end*/
}

[data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader, [data-ux-pagebuilder="Widget"] .ux-app-siteApp-widgetHeader {
    display: none;
    /*ignore jslint start*/
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    /*ignore jslint end*/
}

[data-ux-pagebuilder="Widget"] .ux-app-siteApp-widgetHeader {
    /*ignore jslint start*/
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    /*ignore jslint end*/
}

/*** widget list ***/
[data-ux-pagebuilder="Column"] > ul {
    border: solid 0px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

[data-ux-pagebuilder="Column"] > ul > li {
    margin: 0;
    padding-top: 0;
}

/* PageBuilder Edit Mode
----------------------------------*/
/* set min height and width for columns and widgetys in edit mode */
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"] {
    min-height: 64px;
    min-width: 160px;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-widget-data] {
    min-height: 64px;
}
/*------------------------------------------------------------------------------------*/
/*------------- FIX for child elements with margins within elements START ------------*/
/* http://stackoverflow.com/questions/1878997/child-elements-with-margins-within-divs */
/*------------------------------------------------------------------------------------*/
[data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .columnHeader,
[data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] > ul,
[data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] > ul > li,
[data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] > ul > li > div,
[data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] > ul > li > div > div {
    overflow: auto;
}
/*------------------------------------------------------------------------------------*/
/*------------- FIX for child elements with margins within elements End --------------*/
/*------------------------------------------------------------------------------------*/

/*** Columns ***/
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"]:not(.ux-siteApp-pageBuilderCssFramework [data-ux-pagebuilder="Column"]) {
    margin: 0 0 4px;
    position: relative;
    min-width: 250px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] {
	padding-top: 32px;
    box-shadow: 0 0 0 4px #f8ead2; 
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":false'] [data-ux-pagebuilder="Column"] {
    box-shadow: 0 0 0 4px #f8ead2;
    margin: 0 0 1em;
    opacity: .25;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"]:hover,
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"].selectedSibling {
    box-shadow: 0 0 0 4px #767676;
    z-index: 1;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"].darken {
    box-shadow: 0 0 0 4px #2b2b2b;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"].selected {
    box-shadow: 0 0 0 4px #427ba4;
    z-index: 2;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .columnHeader {
    position: relative;
    overflow: visible;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader {
    font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    font-variant: normal;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    height: 32px;
    top: -32px;
    left: 0;
    right: -4px;
    /*background: rgba(43, 43, 43, 0.6);*/
    background: #767676;
    color: #fff;
    margin: 0;
    padding: 3px 0 7px 10px;
    display: none;
    opacity: 0;
    /*ignore jslint start*/
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    /*ignore jslint end*/
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    /*ignore jslint start*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*ignore jslint end*/
    line-height: normal;
    cursor: pointer;
    /*ignore jslint start*/
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    /*ignore jslint end*/
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .columnLabel {
    display: block;
    min-width: 20px;
    position: absolute;
    left: 9px;
    right: 100px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .columnLabel label {
    display: inline-block;
    color: #ffffff; /*Defensive rule against Foundation*/
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .columnLabel select {
    width: auto;
    padding: 0;
    height: auto;
    margin-bottom: 2px;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .actions {
    position: absolute;
    right: 1px;
    top: -4px;
    bottom: 0;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .actions:after {
    clear: both;
    content: "";
    display: table;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .actions a {
    text-decoration: none;
    color: #fff;
    float: left;
    height: 100%;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .actions a:hover {
    /*ignore jslint start*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.35) 22%, rgba(0,0,0,0.11) 70%, rgba(0,0,0,0.01) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(22%,rgba(0,0,0,0.35)), color-stop(70%,rgba(0,0,0,0.11)), color-stop(100%,rgba(0,0,0,0.01))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* IE10+ */
    /*ignore jslint end*/
    background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* W3C */
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] .ux-app-siteApp-columnHeader .actions a span {
    display: inline-block;
    padding: 8px 10px 0;
    /*ignore jslint start*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*ignore jslint end*/
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"]:hover .ux-app-siteApp-columnHeader,
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"].selected .ux-app-siteApp-columnHeader,
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"].selectedSibling .ux-app-siteApp-columnHeader {
    display: block;
    opacity: 1;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"].darken .ux-app-siteApp-columnHeader {
    /*background: rgba(43, 43, 43, 1);*/
    background: #2b2b2b;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"].selected > div .ux-app-siteApp-columnHeader {
    /*background: rgba(60, 124, 169, 0.95);*/
    background: #427ba4;
}


/*** Widgets ***/
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .widgetHeader {
    position: relative;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader {
    font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    font-variant: normal;
    font-weight: bold;
    font-style: normal;
    height: 32px;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    background: rgba(43, 43, 43, 0.8);
    color: #fff;
    margin: 0;
    padding: 5px 0 7px 10px;
    display: none;
    opacity: 0;
    /*ignore jslint start*/
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    /*ignore jslint end*/
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    /*ignore jslint start*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*ignore jslint end*/
    line-height: normal;
    cursor: pointer;
    z-index: 100;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] {
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    position: relative;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data]:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"].selected [data-ux-pagebuilder-widget-data]:after,
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"]:hover [data-ux-pagebuilder-widget-data]:after {
    /*ignore jslint start*/
    -webkit-box-shadow: inset 0 0 0 2px rgba(43, 43, 43, 0.8);
    /*ignore jslint end*/
    box-shadow: inset 0 0 0 2px rgba(43, 43, 43, 0.8);
    display: block;
    /*ignore jslint start*/
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    -o-transition: all linear .1s;
    transition: all linear .1s;
    /*ignore jslint end*/
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"]:hover [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader,
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"].selected [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader {
    display: block;
    opacity: 1;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data]:hover .ux-app-siteApp-widgetHeader
{
    background: rgba(43, 43, 43, 1);
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data]:hover:after {
    /*ignore jslint start*/
    -webkit-box-shadow: inset 0 0 0 4px rgba(43, 43, 43, 1);
    /*ignore jslint end*/
    box-shadow: inset 0 0 0 4px rgba(43, 43, 43, 1);
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader .widgetName {
    display: block;
    min-width: 2em;
    position: absolute;
    left: 9px;
    right: 132px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader .actions {
    position: absolute;
    right: -2px;
    top: -2px;
    bottom: 0;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader .actions:after {
    clear: both;
    content: "";
    display: table;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader .actions a {
    text-decoration: none;
    color: #fff;
    float: left;
    height: 100%;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader .actions a:hover,
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader .actions .move.active {
    /*ignore jslint start*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.35) 22%, rgba(0,0,0,0.11) 70%, rgba(0,0,0,0.01) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(22%,rgba(0,0,0,0.35)), color-stop(70%,rgba(0,0,0,0.11)), color-stop(100%,rgba(0,0,0,0.01))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* IE10+ */
    /*ignore jslint end*/
    background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.35) 22%,rgba(0,0,0,0.11) 70%,rgba(0,0,0,0.01) 100%); /* W3C */
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data] .ux-app-siteApp-widgetHeader .actions a span {
    display: inline-block;
    padding: 7px 10px 0;
    /*ignore jslint start*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*ignore jslint end*/
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data].selected:after {
    /*ignore jslint start*/
    -webkit-box-shadow: inset 0 0 0 4px #427ba4;
    /*ignore jslint end*/
    box-shadow: inset 0 0 0 4px #427ba4;
    display: block;
}

.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data].selected .ux-app-siteApp-widgetHeader,
.ux-app-siteApp-designMode.pageBuilderEditMode [data-ux-pagebuilder="Column"]:hover [data-ux-pagebuilder-widget-data].selected .ux-app-siteApp-widgetHeader {
    background: #427ba4;
    display: block;
    opacity: 1;
}

/* PageBuilder Size Dialog
----------------------------------*/

div.ux-app-siteApppageBuilder-setSizeTemplate div.ux-set-Size-Template {
    z-index:101;
}
.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog {
    min-width: 27em;
    font-size: 14px;
    outline: 0;
    background-image: none;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    border: 6px solid rgba(43, 43, 43, 0.8);
    background-color: rgba(43, 43, 43, 0.8);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0,0,0,0.6);
    box-shadow: 0 8px 10px -6px rgba(0,0,0,0.6);
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content {
    margin: 0;
    padding: 0;
    background: #757575;
    border-radius: 0 0 4px 4px;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper {
    padding: 5px 10px;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper input,
.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper select {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 6px;
    color: #767676;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper .ui-widget {
    border-radius: 4px;
    margin: 10px;
    outline: 0;
    background-image: none;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    border: 4px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}

.ux-app-siteApppageBuilder-setSizeTemplate .ui-dialog .ui-dialog-titlebar {
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 0.4em 1em;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-size: 13px;
    border: none;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper .content-header {
    padding: .5em;
    margin: 0;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper label {
    font-size: 10px;
    font-weight: normal;
    margin: 0 5px 10px 0;
    padding: 2px 8px;
    color: #ffffff;
    -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    cursor: default;
    width: auto !important;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper .unit {
    margin-top: .5em;
    padding: 0 .5em;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .inner-content-wrapper .unit abbr {
    margin-left: 0.25em;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane {
    padding: 0 20px 20px 20px;
    text-align: right;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane a {
    border: none;
    color: #fff;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: .25em 1em .26em;
    background: rgb(189,189,189); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzlhOWE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iIzkxOTE5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzhkOGQ4ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZDhkOGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(189,189,189,1) 0%, rgba(154,154,154,1) 57%, rgba(145,145,145,1) 77%, rgba(141,141,141,1) 90%, rgba(141,141,141,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,189,189,1)), color-stop(57%,rgba(154,154,154,1)), color-stop(77%,rgba(145,145,145,1)), color-stop(90%,rgba(141,141,141,1)), color-stop(100%,rgba(141,141,141,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(189,189,189,1) 0%,rgba(154,154,154,1) 57%,rgba(145,145,145,1) 77%,rgba(141,141,141,1) 90%,rgba(141,141,141,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(189,189,189,1) 0%,rgba(154,154,154,1) 57%,rgba(145,145,145,1) 77%,rgba(141,141,141,1) 90%,rgba(141,141,141,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(189,189,189,1) 0%,rgba(154,154,154,1) 57%,rgba(145,145,145,1) 77%,rgba(141,141,141,1) 90%,rgba(141,141,141,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(189,189,189,1) 0%,rgba(154,154,154,1) 57%,rgba(145,145,145,1) 77%,rgba(141,141,141,1) 90%,rgba(141,141,141,1) 100%); /* W3C */
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane a:hover {
    background: #8d8d8d;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane a:active {
    -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.4);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.23) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.23)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* W3C */
    background-color: #8d8d8d;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane a:first-of-type {
    background: rgb(233,200,146); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5Yzg5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2UwYjI2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2RjYTc1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2Q5YTA0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOTlmNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(233,200,146,1) 0%, rgba(224,178,103,1) 40%, rgba(220,167,82,1) 63%, rgba(217,160,67,1) 87%, rgba(217,159,66,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,200,146,1)), color-stop(40%,rgba(224,178,103,1)), color-stop(63%,rgba(220,167,82,1)), color-stop(87%,rgba(217,160,67,1)), color-stop(100%,rgba(217,159,66,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(233,200,146,1) 0%,rgba(224,178,103,1) 40%,rgba(220,167,82,1) 63%,rgba(217,160,67,1) 87%,rgba(217,159,66,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(233,200,146,1) 0%,rgba(224,178,103,1) 40%,rgba(220,167,82,1) 63%,rgba(217,160,67,1) 87%,rgba(217,159,66,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(233,200,146,1) 0%,rgba(224,178,103,1) 40%,rgba(220,167,82,1) 63%,rgba(217,160,67,1) 87%,rgba(217,159,66,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(233,200,146,1) 0%,rgba(224,178,103,1) 40%,rgba(220,167,82,1) 63%,rgba(217,160,67,1) 87%,rgba(217,159,66,1) 100%); /* W3C */
    background-color: #d99f42;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane a:first-of-type:hover {
    background: #d99f42;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane a:first-of-type:active {
    -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.4);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.23) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.23)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.23) 0%,rgba(0,0,0,0) 100%); /* W3C */
    background-color: #d99f42;
}

.ux-app-siteApppageBuilder-setSizeTemplate.ui-dialog .ui-dialog-content .ui-dialog-buttonpane a .ui-button-text {
    padding: 0;
}

/* PageBuilder Move Locations
----------------------------------*/
[data-ux-pagebuilder-column-data] > ul > li.widgetMoveLocation {
    background-color: #427ba4;
    -webkit-box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,0.1);
    height: 50px;
    position: relative;
    z-index: 1;
    display: block;
    cursor: pointer;
    font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    font-variant: normal;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    /*ignore jslint start*/
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    /*ignore jslint end*/
}

[data-ux-pagebuilder-column-data] > ul > li.widgetMoveLocation:hover {
    background-color: #2f5876;
    -webkit-box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,0.2);
    color: #fff;
}

[data-ux-pagebuilder-column-data] > ul > li.widgetMoveLocation:before {
    position: absolute;
    content: attr(title);
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    vertical-align: middle;
    display: block;
    left: 0;
    right: 0;
}

/* when move locations are shown, hide the column and widget UI elements */
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"]:hover .ux-app-siteApp-columnHeader,
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"].selected .ux-app-siteApp-columnHeader,
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data]:not(.selected) .ux-app-siteApp-widgetHeader {
    display: none;
    opacity: 0;
}

/* for multivariate we need to override the rule just above */
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder-dropzone-data*='"IsDropZoneEditable":true'] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data].selected .ux-app-siteApp-widgetHeader {
    background: #427ba4;
    display: block;
    opacity: 1;
}

.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder-dropzone-data*="\"IsDropZoneEditable\":true"] [data-ux-pagebuilder="Column"],
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder-dropzone-data*="\"IsDropZoneEditable\":true"] [data-ux-pagebuilder="Column"]:hover,
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder="Column"]:hover [data-ux-pagebuilder-widget-data]:not(.selected):after {
    box-shadow: 0 0 0 4px #f8ead2;
}

.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data]:not(.selected):after,
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder="Column"]:hover [data-ux-pagebuilder-widget-data]:not(.selected):after,
.ux-app-siteApp-designMode.showMoveLocations [data-ux-pagebuilder="Column"] [data-ux-pagebuilder-widget-data]:not(.selected):hover:after {
    outline: none;
    /*ignore jslint start*/
    -webkit-box-shadow: none;
    box-shadow: none;
    /*ignore jslint end*/
}

.ux-app-siteApp-designMode div.ui-dialog .ui-dialog-content div.widgetBody div.CBWidget div.CBEdit div select.CBTypeFilter {
	width: 7.5em; /* Fix Content Block Edit Dialog Problem; Tabs wrap due to select being too wide  */
}
