﻿<div class="widgetSearchBox ui-toolbar ui-widget-header ui-state-highlight">
    <input type="text" data-bind="value: $root.pageBuilder.searchString, valueUpdate: 'keyup'" />
    <span class="ui-icon ui-icon-search" style="margin: 15px; position: absolute; top: 0px; right: 0px;"></span>
</div>
<ul data-bind="foreach: $data">
	<li data-bind="attr: { title: Title, id: ClientID }, click: select, css: selectedClass, visible: isShowing">
        <div data-bind="style: {backgroundImage: 'url(' + $root.pageBuilder.widgetPath +  ControlURL + '.jpg)' }, attr: {title: LocalizedDescription }" class="widgetIcon"></div>
        <p data-bind="text: LocalizedName" class="widgetName"></p>
		<input type="hidden" data-bind="value: ID" />
	</li>
</ul>