﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MenuViewListTemplate.ascx.cs" Inherits="Workarea_FrameworkUI_Templates_Menu_MenuViewListTemplate" %>
<ul class="subnav">
    <asp:PlaceHolder ID="listPlaceholder" runat="server" />
</ul>
