li.relationship div.azureButtons
{
    float: right;
    padding-right: .5em;
}

div.azureButtons a
{
    background-image: url("../images/azureSprites.png");
    display: block;
    float:left;
    width: 20px;
    height: 20px;
    border: 1px solid Transparent;
    background-repeat:no-repeat; 
}

div.azureButtons a.syncSprite {
    background-image: url("../images/syncSprites.gif");
}

div.azureButtons a:hover {
    background-color: #E6EFC2 !important;
    border: 1px solid #C6D880 !important;
    color: #529214 !important;
}

div.azureButtons a.addButton {background-position: 2px 0px; float: right;}
div.azureButtons a.stopInstance {background-position: 2px -60px;}
div.azureButtons a.configureInstance {background-position: 2px -180px;}
div.azureButtons a.startInstance {background-position: 2px -80px;}
div.azureButtons a.deleteButton {background-position: 2px -20px;}
div.azureButtons a.swapInstance {background-position: 2px -100px;}
div.azureButtons a.scheduleDeployment {background-position: 2px -120px;}
div.azureButtons a.statusButton {background-position: 2px -140px; }
div.azureButtons a.deployToCloud {background-position: 2px -160px}
div.azureButtons a.profileSettings {background-position: 2px -40px; clear: left;  float: right; margin-top: 1em;}

div.azureButtons a.stopInstance:hover, div.azureButtons a.deleteButton:hover {
    background-color:#FBE3E4 !important;
    border:1px solid #FBC2C4 !important;
    color:#D12F19 !important;
}

ul.azureServerDetails {width: 35%; margin-right: 1em; float: left;}
ul.azureServerDetails.azureServerDetailsCol1 {float: left;}
ul.azureServerDetails li {overflow: hidden;}
