#create-deployment-overlay {
    display:none;
    z-index:5000; 
    position: absolute;
    width:100%;
    height:100%;
    background-color: black;
    top:0px;
    left: 0px;
    opacity: 0.7;
    filter: alpha(opacity=70);}
#create-deployment-overlay p {
    z-index:5001;
    background-color:white;
    border: 1px solid silver;
    padding:1em 10em;
    position: absolute;
    top: 50%;
    left: 43%;}

/* Confirmation Dialogs */
.configure-instance .ektron-ui-progressbar {margin-top:1em;}
.configure-instance table {margin-bottom:1em;}
.configure-instance table th {width:35%;}
.configure-instance table .ektron-ui-integerField input {width:auto !important;}
.configure-instance .confirmation-message { margin-bottom: 1em; }

.delete-hosted-service .delete-data { padding-left: 2.25em; }
.delete-hosted-service .ektron-ui-warning { margin-bottom: 0px; }
.delete-hosted-service .confirm-service-name { margin-top: 2em; }
.delete-hosted-service .delete-service-name { font-weight: bold; margin-bottom: .25em; }

.cloud-dialog .progress-image {margin-top:.5em;}

/* Profile Settings dialog */
div.profile-settings-ui .container-left { text-align: right; width: 55%; display: inline-block; margin-bottom: 2em; padding-right: 1em; vertical-align: top; position: relative; }
div.profile-settings-ui .container-right { width: 40%; display: inline-block; margin-bottom: 2em; padding-left: .5em; vertical-align: top; }
div.profile-settings-ui .container-left.ektron-ui-loud { font-size: 1em; }

div.profile-settings-ui .textField input { width: 10em; }
div.profile-settings-ui .dropDownList { width: 13em; }
div.profile-settings-ui .listView ul.items { width: 15em; height: 11.25em; overflow: auto; margin: 0; border: 1px solid #ddd; }
div.profile-settings-ui .listViewText { }
div.profile-settings-ui  div.ui-dialog-buttonset { font-weight: normal; }
div.profile-settings-ui  div.ui-dialog-buttonset .primary-action a { width: 8.5em;}
div.profile-settings-ui  p.dialog-description { margin-bottom: .5em; margin-left: 1em;}

/* Service wizard */

.ektron-cloud-deployment {}
.ektron-cloud-deployment tfoot {}
.ektron-cloud-deployment .active-step {font-weight:bold;}
.ektron-cloud-deployment table {width:100%;border-collapse:collapse;}
.ektron-cloud-deployment table .narrow-column {width:30%;}
.ektron-cloud-deployment table tbody th {text-align:left;width:40%;}
.ektron-cloud-deployment table tbody td,
.ektron-cloud-deployment table tbody th {text-align:left;padding:.25em;}
.ektron-cloud-deployment input {width:10em;}
.ektron-cloud-deployment span.wide input {width:20em;}
.ektron-cloud-deployment span.wide textarea {width:20em;}
.ektron-cloud-deployment span.medium-width input {width:13.4em;}
.ektron-cloud-deployment select.medium-width {width:14.5em;}
.ektron-cloud-deployment span.medium2-width input {width:15.5em;}
.ektron-cloud-deployment span.small-width input {width:7em;}
.ektron-cloud-deployment input.smaller-width {width:3em;}
.ektron-cloud-deployment table tbody th, .ektron-azure-deployment table td {padding: .25em;}
.ektron-cloud-deployment .buttons {text-align:right;padding-top:1em;margin-top:1em;}
.ektron-cloud-deployment p.header {margin-bottom: .75em; }
.ektron-cloud-deployment p.caption {margin: .5em 0 .5em 1.1em; font-size: .88em; color: #676767; border: none;}
.ektron-cloud-deployment div.success-view {margin: .5em 0;}
.ektron-cloud-deployment div.success-view .ektron-ui-success {margin:0 1em 0 0;}
.ektron-cloud-deployment div.success-view p {margin:1em 0 0 0;}
.ektron-cloud-deployment table.deployment-package td {text-align:left;}
.ektron-cloud-deployment table.deployment-package input {width:auto;}
.ektron-cloud-deployment table.uploadDeploymentPackage th {vertical-align: top; padding: 1.75em .5em;}
.ektron-cloud-deployment table.uploadDeploymentPackage td {padding: .25em .5em; vertical-align: top;}
.ektron-cloud-deployment table.uploadDeploymentPackage td span.ektron-ui-required {display: inline-block; padding: .5em 0;}
.ektron-cloud-deployment table.uploadDeploymentPackage .ektron-ui-fileUpload, 
.ektron-cloud-deployment table.uploadDeploymentPackage .ektron-ui-fileUpload div.ektron-ui-fileUpload-file-inner {border: none;}

.ektron-cloud-deployment .ektron-ui-fileUpload .ui-progressbar-value { background-image: url(../images/UI/over_tab.gif); background-color: #3767AF;}
.ektron-cloud-deployment .ektron-ui-fileUpload .ektron-ui-fileUpload-complete .ui-progressbar-value {background-image: none; background-color: #54BD31;}
.ektron-cloud-deployment .ektron-ui-intro { clear: both; display: block; padding: 0.5em 0;}
.ektron-cloud-deployment .required-text { text-align: right; display: inline-block; width: 100%; }
.ektron-cloud-deployment div.buttons { font-weight: normal; }
.ektron-cloud-deployment div.buttons .primary-action a { /*width: 8em;*/}
.ektron-cloud-deployment .uploadConfigurationFile {margin-top: 1em;}
.ektron-cloud-deployment .ektron-ui-fileUpload {border: 0 none;}

div.ektron-cloud-deployment .container-left { text-align: right; width: 40%; display: inline-block; margin-bottom: 1.5em; }
div.ektron-cloud-deployment .container-right { width: 55%; display: inline-block; margin-bottom: 1.5em; padding-left: .5em; }
                                                
div.ektron-cloud-deployment .ektron-ui-odd { background-color: #fff; vertical-align: top; padding: 1em 0;}
div.ektron-cloud-deployment .ektron-ui-even { background-color: #fff; vertical-align: top; padding: 1em 0;}

.new-setup-item-DB, .new-setup-item-keypair { display:none;}
.new-setup-item-DB-show, .new-setup-item-keypair-show { display:block;}

span.buttonRight {text-align:right; float: right;}
.primary-amazon-dialog-action { width: 8.5em;}

/*div.ektron-cloud-deployment .container-left { text-align: right; width: 35%; display: inline-block; padding-right: 1em; vertical-align: top; position: relative; }
div.ektron-cloud-deployment .container-right { width: 60%; display: inline-block; padding-left: .5em; vertical-align: top; }
div.ektron-cloud-deployment .container-left .ektron-ui-required { position: absolute; right: .25em;}*/

.key-pair-required, .key-pair-required-lbl, .security-group-required-lbl, .newkeypair-required-lbl, .newkeypair-invalid-lbl, .newkeypair-maxcharlimit-lbl, .bucketname-required-lbl, .lblStorageSize { display:none;}
span.form-text-field input { width: 20em !important; }
.ektron-cloud-deployment .select-service-options { width: 20.5em; }
.server-name-required { display:none; }

.rounded-corner { border: 0.1em solid; border-radius: 0.5em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; }
.windows-azure, .button-space { padding-top: 1em; }

.rds-server, .azure-delete-panel, .amazon-delete-panel, .amazon-instance-panel, .azure-instance-panel, .amazon-certificate-error { display: none; }
.ektron-cloud-deployment .container-left{vertical-align:top}
.ektron-cloud-deployment label.ektron-ui-invalid, .ektron-cloud-deployment span.ektron-ui-invalid {margin-left:0; width:70%}
.ektron-ui-invalid-custom {background-color:#FBE3E4;border-color:#FBC2C4}
div.ektron-cloud-deployment div.clear
{
    clear:both
}
.ektron-cloud-deployment .chkbox input
{
    width:13px;
    margin-left:1px;
}