﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MappingSharePointMetadata.ascx.cs"
    Inherits="User_Controls_MappingSharePointMetadata" %>
<ektronUI:Accordion ID="uxMappingAccordian" CssClass="leftNavigation" runat="server"
    AutoHeight="false">
</ektronUI:Accordion>
