﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RequiredPwd.ascx.cs" Inherits="Workarea.DxH.Controls.RequiredPwd" %>
<ektronUI:PasswordField runat="server" ID="TFPwd">
    <ValidationRules>
        <ektronUI:RequiredRule />
    </ValidationRules>
</ektronUI:PasswordField>