.aloha .aloha-multisplit button.ui-button-icon-only.aloha-multisplit-active { background: #3b73d7; }
.aloha .ui-state-default .aloha-large-icon.aloha-large-icon-span{ background-image:url("../img/format-block.png");background-position:-421px 0; min-height: 1em; }
table.aloha-character-picker-overlay {background-color:white; width: auto; }