﻿.ektron-aloha-button.ektron-aloha-editInContext-saveButton {background-image:  url("../../../../../../../../../../images/silk/icons/disk.png") !important;}
.ektron-aloha-button.ektron-aloha-editInContext-cancelButton {background-image:  url("../../../../../../../../../../images/silk/icons/cancel.png") !important;}
.aloha-ui-toolbar {
    width: auto !important;
}